.document{
    width:100%;
    cursor: pointer;

   
}
.document_principal{
        background-color: rgba(255, 0, 0, 0);
    padding-block: 20px;
align-items: center;
    justify-content: center;
    display: flex;
}
.document_decoration{
    height:1px;
    width: 100%;
    background-color: rgb(78, 78, 78);
}