.document{
    width:100%;
    cursor: pointer;

   
}
.document_principal{
        border-bottom: 1px solid rgba(255, 255, 255, 0.089);
    padding-block: 15px;
align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}
.document_principal p{
color: rgba(255, 255, 255, 0.815);
}
.document_principal:hover{
    background-color: rgba(255, 255, 255, 0.034);
}
.document_principal:hover p{
       color: rgb(255, 255, 255);
    font-weight:800;
}
.document_decoration{
    height:1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.068);
}