#campaign_principal {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(0deg,rgb(22, 22, 24),rgb(31, 32, 34));
}

#campaign_content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  min-height: 0;
}
#campaign_content_empty{

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#campaign_content_empty img{
  width:60%;
  max-width: 700px;
}
#campaign_content_principal{

  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr;
}
#introduction_part h1{
  color: rgb(185, 185, 185);
  font-family: Signika Negative;
  font-weight: 500;
}
#introduction_part h1:hover{
  color: rgb(219, 219, 219);
}
#introduction_part{

  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#introduction_part button{
  display: flex;
  justify-content:center;
  column-gap: 8px;
  padding:10px 10px 10px 10px;
  font-size: 15px;
  width: 70%;
  font-family: Signika Negative;
  font-weight: 600;
  border-radius: 7px;
  background-color: greenyellow;
  margin-top: 20px;
  cursor: pointer;
}
#introduction_part button:hover{
  background-color: transparent;
  color: greenyellow;
  border: 2px solid rgba(172, 255, 47, 0.452);
}
#introduction_part div p{
   color: rgb(226, 226, 226);
  font-size: 20px;
  margin-top: 10px;
}
#introduction_part div h2{
  color: rgb(226, 226, 226);
  font-family: Signika Negative;
}
#introduction_part div{
  animation-name: introduction-animation;
  animation-duration: 0.8s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes introduction-animation {
  0%{
    opacity: 0;
    transform: rotate(1deg) scale(0.950);
  }
}
#introduction_part div div{
   align-items: start;
  border: 2px solid rgba(255, 255, 255, 0.322);

  padding: 13px;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0);
}
#lessons_part{
  
  scrollbar-color: transparent transparent;
  overflow-y: scroll;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
  min-height: 0;
  height: 100%;
  width: 100%;
  
}
#ad_part{

  display: flex;
  align-items: center;
  justify-content: center;

}
#ad_part img{

  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  width:50%;
  max-width: 150px;
}
