
#hangman {
   
    box-shadow: 0px 0px 5px rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
  background-color: rgb(20, 20, 20);

  align-items: center;
  /* max-width: 600px; */
    height: 100vh;
  margin: 0 auto;
   width:100vw;
}
#hangman_principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:40%;
  height:100%;
  background: linear-gradient(150deg,rgb(51, 51, 51),rgb(37, 37, 37));
  padding-inline: 40px;
}
#hangman .image {
  filter:drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.349));
 width:100%;
 max-width: 500px;
  height: auto;
  margin-bottom: 1rem;
}

#hangman .word {
    background-color: rgb(32, 32, 32);
    padding:10px;
  font-size: 2rem;
  border-radius: 10px;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.185);
  color: white;
}

#hangman .letter {
  display: inline-block;
  width: 1.5rem;
}

#hangman .letters button {
    height:40px;
    aspect-ratio: 1/1;
    font-family: Signika Negative;
  margin: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(83, 83, 83);
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px black;
}

#hangman .letters button:disabled {
  background-color: #444;
  color: #999;
  cursor: not-allowed;
}

#hangman .result {
    position: absolute;
    background-color: rgb(104, 104, 104);
    padding:20px;
  margin-top: 1.5rem;
  border-radius: 10px;
}
#hangman .result button{
    margin-top: 10px;
    font-family: Silkscreen;
    padding:5px 15px 5px 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}