#groups{
  background-color: red;
}
#groups_principal {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
 
  background-color: rgb(31, 31, 34);
}

#groups_content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  min-height: 0;
}
#groups_content_principal {
  grid-template-columns: 3fr 1fr;
  
  background-color: rgba(255, 0, 0, 0);
  height: 100%;
  min-height: 0;
  width: 100%;
  overflow: hidden;
  display: grid;
}
@media (min-width:1300px){
  #groups_content_principal {
    grid-template-columns: 6fr 1.7fr;
  }
}
@media (min-width:1500px){
  #groups_content_principal {

    grid-template-columns: 7fr 1.8fr;
  }
}
@media (min-width:1800px){
  #groups_content_principal {

    grid-template-columns: 5fr 1fr;
  }
}
@media (min-width:2000px){
  #groups_content_principal {

    grid-template-columns: 6fr 1fr;
  }
}
#groups_content_empty{
  
  background: linear-gradient(0deg,rgb(22, 22, 24),rgb(31, 32, 34));
  flex-direction: column;
  display: flex;

  align-items: center;
  justify-content: center;
}
#groups_content_empty p{
  color: rgb(97, 97, 97);
}
#groups_content_empty img{
  width: 40%;
  max-width: 500px;
  opacity: 0.5;
}
#groups_content_principal_chat_part{
  display: grid;
  grid-template-rows: 9fr 1fr;
  
}
#groups_content_principal_right_part{
  background-color: rgb(48, 2, 2);
}
#groups_content_principal_members_part{
  padding:10px;
background-color: #27272b;
}
#groups_content_principal_member_part{
  padding:10px;
  background-color: #27272b;
  display: grid;
  grid-template-rows: 2fr 8fr;
}
#groups_content_principal_member_top{


  flex-direction: column;
}
#groups_content_principal_member_bottom{

  display: flex;
  align-items: center;
  flex-direction: column;
}
#groups_content_principal_member_bottom p{
  margin-top: 10px;
  font-size: 25px;
}
#button_add_member{
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid rgb(90, 90, 90);
  padding-block: 5px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 10px;
  cursor: pointer;
}
#button_add_member img{
  height:20px;
}
#invite_user_background,#remove_user_background,#report_user_background{
  overflow: hidden;
  width: 100vw;
  height:100vh;
  z-index: 1;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
#invite_user_bar{
  
  animation-name: invite_animation;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 3fr 2fr;
  max-width: 800px;
  height:50%;
  width:50%;
  background-color: #2f2f2f;
  border: 1px solid rgba(17, 0, 255, 0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
  border-radius: 10px;
}
@keyframes invite_animation {
    0%{
        opacity: 0;
       margin-top: 100vh;
       transform: scale(0.2);
    }
}
#invited_users_part {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(41, 41, 41);
  display: grid;
  grid-template-rows: 1fr 1px 5fr;
  overflow: hidden; /* adiciona isso para evitar vazamento */
}

#invited_users_bottom {
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg,rgba(255, 140, 0, 0.068),rgba(22, 22, 105, 0.048));
  display: flex;
  justify-content: center;
  overflow: hidden; /* impede deformações */
}

#invited_users_bottom_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* melhor que scroll direto */
  height: 95%; /* ocupa toda a altura do grid */
  width: 95%;
  scrollbar-color: rgb(73, 73, 73) transparent;
}
#invited_users_top{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 140, 0, 0.068);
}
#invited_users_top h1{
  font-size: 20px;
  color: orange;
  font-family: Signika Negative;
  font-weight: 400;
}
#invited_users_decoration{
  background:linear-gradient(90deg,transparent,rgba(255, 166, 0, 0.349),transparent)
}
#invited_users_top_exit_part{
  width:100%;
  display: flex;
  justify-content: end;
  

}
#invited_users_top_exit_part button{
  margin-top: 10px;
  margin-right: 10px;
  height:20px;
  aspect-ratio: 1/1;
  background-color: rgb(22, 22, 22);
  border: none;
  color:white;
  border-radius: 5px;
  cursor: pointer;
}

#invite_user_part{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr;
  background-color: rgb(31, 31, 34);
}
#invite_user_bottom{
align-items: center;
justify-content: start;
display: flex;
flex-direction: column;
}

#invite_user_top{
  height: 100%;
  width:100%;
  padding-left: 10px;
  padding-top: 10px;
  border-bottom: 2px solid rgb(41, 41, 41);
}
#invite_user_top div{
display: flex;
width: 100%;

}

#invite_user_top img{

height: 20px;
}
#invite_user_top button{
  width: 40px;
   background-color: rgb(20, 20, 20);
   border: none;
   cursor: pointer;
   border-radius: 0px 5px 5px 0px;
}
#invite_user_top input{
  color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px 0px 0px 5px;
    transition: all 0.5s ease-in-out;
}
#invite_user_top h1{
  color: white;
  font-family: Signika Negative;
  font-weight: 500;
}
#invite_user_top label{
  color: rgb(216, 216, 216);
  font-family: Signika Negative;
}
#arrow_button{
  cursor: pointer;
  height:45px;
}
#member_image{
  background-color: rgb(34, 34, 34);
  box-shadow: inset 0px 0px 20px rgb(26, 26, 26);
 
  height: 170px;;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#member_image img{
  height:100%;
}
#group_input_bar{

  display: flex;
  justify-content: center;
}
#group_input_bar_principal{

  width:80%;
  max-width: 900px;
  height: 60%;

  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}
  /* ITEM SOBRE O CHAT ---------------------------------------------------------------------------*/
#group_chat{
  scrollbar-color: rgb(52, 52, 54) transparent;
  padding: 20px;
  min-height: 100%;
  max-height: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;

  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
#group_input_bar_principal input{
  z-index: 2;
  padding-left: 5px;
  font-size: 25px;
  width:80%;
  background-color: rgb(14, 14, 14);
  color: white;
  border: none;
  border-top: 1px solid rgb(109, 109, 109);
  border-bottom: 1px solid rgb(109, 109, 109);
  border-right: 1px solid rgb(109, 109, 109);
  border-radius: 0px 10px 10px 0px;
}
#group_input_bar_principal div{
  justify-content: center;
  display: flex;
  width: 100%;


}
#input_part img{
  width:40px;;
}
#input_emogi{
  cursor: pointer;
   border: none;
  padding-inline: 5px;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 10px 0px 0px 10px;
background-color: rgb(14, 14, 14);
}
#input_emogi img:hover{
  filter: brightness(0.7);
}
#input_add{
  justify-self: right;

}
#input_submit{
   justify-self: left;

}
.inputs_chat{
  cursor: pointer;
   width:60px; 
  border-radius: 10px;
  border: none;
  background-color: rgb(57, 60, 78);
}
.inputs_chat:hover{
    filter: brightness(0.8);
}
.inputs_chat img{
  height: 30px;
  width: 30px;

}
#input_color{
  cursor: pointer;
  border: none;
  padding-inline: 5px;
  border-bottom: 1px solid rgb(109, 109, 109);
  border-top: 1px solid rgb(109, 109, 109);
  border-right: 1px solid rgb(109, 109, 109);
background-color: rgb(14, 14, 14);
}
#emogi_background,#chat_color_background{
  position: absolute;
  width:100vw;
  height:30vh;
  bottom: 0;
  display: flex;
  justify-content: center;
 
}
#emogi_bar,#chat_color_bar{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
  bottom: 100px;
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: rgb(59, 59, 59);
  padding: 10px;
  border-radius: 10px;
}
#emogi_bar_top,#chat_color_bar_top{
  width:100%;
  height: fit-content;

  color: white;
  font-family: Signika Negative;
  justify-content: space-between;
  display: flex;
}
#emogi_bar_bottom,#chat_color_bar_bottom{
  display: flex;
  align-items: center;
  width:100%;

  height: 30px;
  margin-top: 5px;
  column-gap: 5px;
 
}


#emogi_bar_bottom button{
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #2F2F2F;
  border: none;
  border-radius: 10px;
}
#emogi_bar_bottom button:hover{
  filter: brightness(0.8);
}
#emogi_bar_top button,#chat_color_bar_top button{
 
  cursor: pointer;
  color: white;
  height:20px;
  width:20px;
  background-color: rgb(19, 19, 19);
  border: none;
  border-radius: 5px;
}
#chat_color_bar_bottom button{
 cursor: pointer;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #2F2F2F;
  border: none;
  border-radius: 10px;
}
#chat_color_bar_bottom button img{
  height: 80%;
}
#create_group_background{
  overflow: hidden;
  width:100vw;
  height: 100vh;
  position: absolute;
  top: 0;

}

#create_group_bar{
  animation-name: create-group-animation;
  animation-delay:0s;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  border: 1px solid rgba(255, 255, 255, 0.062);
  border-radius: 10px;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top:27vh;
  left: 18vw;
  height: fit-content;
  width: fit-content;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
  width:fit-content;
  background-color: rgb(46, 48, 53);
}
@keyframes create-group-animation{
  0%{
     opacity: 0;
       margin-left: -40vh;
       margin-top: -200px;
       transform: scale(0.1);
  }
}
#create_group_bar_top{
  font-family: Signika Negative;
  color: aqua;
  column-gap: 10px;
  background-color: rgba(0, 20, 17, 0.212);
  display: flex;
  align-items: center;
  justify-content: center;
  width:300px;
  padding-block: 10px;
  height: fit-content;
}
#create_group_bar_top h2{

  font-family: Signika Negative;
}
#create_group_bar_bottom{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#create_group_bar_decoration{
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg,rgba(255, 0, 0, 0),rgba(0, 255, 255, 0.26),rgba(255, 0, 0, 0));
}
#create_group_bar_top img{
  height: 20px;
 
}
#create_group_bar label{
  color: white;
  font-family: Signika Negative;
}
#create_group_bar input{
  color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#create_group_bar button{
  margin-top: 10px;
  padding: 5px;
  width: 30%;
  border-radius:5px;
  color: rgba(255, 255, 255, 0.651) ;
  background-color: transparent;
  border: 1px solid ;
 
  cursor: pointer;
}
#create_group_bar button:hover{
   color: rgb(58, 58, 58) ;
  background-color: rgba(255, 255, 255, 0.918);
}
/* @media (min-width:1290px){
  #create_group_bar{
      top:18vh;
 
  
  }
} */
#groups_content_principal_member_bottom button{
  font-family: Signika Negative;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 10px;
  width: 80%;
  padding-block: 10px;
  border-radius: 5px;
  border: 1px solid;
  background-color: transparent;
}
#groups_content_principal_member_bottom button img{
  height: 20px;
}
#button_kick{
  color: rgba(255, 145, 0, 0.849)
}
#button_report{
  color: rgba(255, 0, 0, 0.849)
}
#button_report:hover{
  background-color: rgba(255, 0, 0, 0.267);
}
#button_kick:hover{
  background-color:rgba(255, 145, 0, 0.226);
}
#about_group_background{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  position: absolute;
  top:0;
}
#about_group_bar{
  border: 1px solid rgba(255, 255, 255, 0.062);
  animation-name: about-group-animation;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
  min-width: 600px;
  width: fit-content;
  padding:20px;
  background-color: #28292c;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
  border-radius: 10px;
}
@keyframes about-group-animation {
  0%{
        opacity: 0;
       margin-top: -100vh;
       transform: scale(0.2);
    }
}
#about_group_bar_top{
  column-gap: 15px;
  width:100%;
  /* height:150px; */

  display: flex;
}
#about_group_bar_top_left{
  
  height:150px;
  aspect-ratio: 1/1;
  background-color: rgba(3, 3, 3, 0.226);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#about_group_bar_top_left img{
  height: 100%;
}
#about_group_bar_top_right{
  flex-grow: 1;

}
/* #about_group_title_part img{

  height:60%;
  
} */
#about_group_title_part h1{
    font-weight:400;
}
#about_group_title_part h2{
  color: rgb(96, 178, 255);
  font-size: 14px;
  font-weight:600;
}
#about_group_title_part h2,#about_group_title_part h1{
  font-family: Signika Negative;
}
#about_group_title_part{
  color: white;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: end;

}
#about_group_created_at{
  color: #646464;
}
#about_group_count_member{
  column-gap: 5px;


  display: flex;
  margin-top: 10px;
}
#about_group_bar_top_right button,#update_group_leave{
  font-weight: 600;
  cursor: pointer;
  font-family: Signika Negative;
  margin-top: 10px;
  padding:7px;
  
  border-radius: 5px;
}
#about_group_count_member img{
  height: 20px;
}
#edit_group_button{
  border: none;
   color:#2F2F2F;
background-color: rgb(108, 184, 255);
transition: all 0.04s ease-in-out;
}
#edit_group_button:hover{
  color:rgb(108, 184, 255);
  border: 1px solid;
  background-color: transparent;;
}
#leave_group_button:hover,#update_group_leave:hover{
   color:#2F2F2F;
  border: 1px solid;
  background-color:rgb(255, 63, 63);
}
#leave_group_button,#update_group_leave{
  border: 1px solid rgb(255, 63, 63);
  color: rgb(231, 44, 44);
background-color: transparent;;
}
#leave_group_background{
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;

}
#leave_group_bar{
  border: 1px solid rgba(255, 255, 255, 0.062);
  width: 30%;
  max-width: 450px;
  background-color: #232429;
  padding:10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
}
#leave_group_bar div{
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}
#leave_group_bar div button{
  padding:9px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  background-color:transparent;
}
#about_group_no_link{
  width:100%;
  margin-top: 10px;
  padding: 5px;
  color: rgb(187, 187, 187);
  font-family: Signika Negative;
  background-color: rgb(34, 34, 34);
}
#about_group_title_description{
  margin-top:10px;
  font-family: Signika Negative;
  color:white;
  font-size:20px;
}
#delete_group_alert{
  margin-top: 7px;
  padding: 5px;

  color: rgb(255, 76, 76);
  background-color: rgba(255, 0, 0, 0.185);
}
#leave_group_sure{
color: rgb(255, 63, 63);
}
#leave_group_cancel{
color: rgb(223, 223, 223);
}
#leave_group_sure:hover{
color: #2F2F2F;
background-color: rgb(255, 63, 63);
}
#leave_group_cancel:hover{
color: #ffffff;

}
#update_group_background{
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
}
#update_group_bar{
  border: 1px solid rgba(255, 255, 255, 0.062);
  z-index: 3;
  height: fit-content;
  width: 50%;
  min-height: 450px;
  max-width: 860px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 9fr 2fr 1.5fr;
  padding:20px;
  background-color: #232427;
  border-radius:10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);

}
#update_group_image_part{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.253);
  flex-direction: column;
  row-gap: 15px;
  max-width:300px;
}
#update_group_image_part button{
  padding:5px 15px 5px 15px;
  font-size: 15px;
  background-color: transparent;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}
#update_group_image_part button:hover{
  background-color: white;
  color: rgb(48, 48, 48);
}
#update_group_image_part div img{
  height: 100%;
}
#update_group_image_part div{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  max-width: 170px;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.164);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.096) inset;
  border-radius: 30px;
}
#update_group_bottom input{
  color:white;
    font-size: 20px;
    padding:5px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    width: 80%;
    transition: all 0.5s ease-in-out;
}
#update_group_bottom{
   
  gap: 2px;
  grid-column: 1/2 span;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1.5fr 1.5fr;
}
#update_group_right{
  display: flex;
  flex-direction: column;
  align-items: start;

}
#update_group_right input{
  width: 80%;
 color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#update_group_right textarea{
  width: 80%;
  height: 50%;
  color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#update_group_right label{
  color: white;
  font-family: Signika Negative;
}
#update_group_left{
  row-gap: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: center;

}
#update_group_left h1{
  color: white; 
   font-family: Signika Negative;
  font-weight: 300;
}
#update_group_exit_part{
  display: flex;
  justify-content: space-between;
  align-items: start;
  grid-column: 1/2 span;
  
}
#update_group_exit_part button{
  margin-top: 0px;
}
#update_group_apply_part{
  grid-column: 1/2 span;
  display: flex;
  justify-content: end;
  align-items: end;
  column-gap: 10px;
}
#update_group_apply_part button{
  border: 1px solid;
  cursor: pointer;
  background-color: transparent;
  padding:5px;
  font-size:16px;
  border-radius: 5px;
  transition: all 0.17s ease-in-out;
}
#update_apply{
  color: rgba(0, 238, 255, 0.842);
}
#update_apply:hover{
  background-color:  rgba(0, 238, 255, 0.87);
  color:#242424;
}
#update_cancel{
  color: rgba(247, 247, 247, 0.842);
}
#update_cancel:hover{
  background-color:  rgb(221, 221, 221);
  color:#242424;
}
#update_group_exit{
    cursor: pointer;
  background-color: #0e0e0e;
  color: white;
  height:25px;
  border-radius: 4px;
  border: none;
  width: 25px;
}
#link_part{
  margin-top: 10px;
}
#link_part span{
  cursor: pointer;
    color: rgb(37, 168, 255);
}
#link_part span:hover{
      color: rgb(31, 159, 245);
}
#report_user_bar,#remove_user_bar{
  border: 1px solid rgba(255, 255, 255, 0.062);
  padding:15px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.192);
  background-color: #2a2a2e;
}

#report_user_bar h2,#remove_user_bar h2{
  font-family: Signika Negative;
  color: white;
}
#report_user_bottom_left_img{
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 300px;
  overflow: hidden;
  height: 100px;
  aspect-ratio: 1/1;
  display: flex;
  align-content: center;
  justify-content: center;
}
#report_user_bottom_left_img img{
  height: 100%;
}
#report_user_bottom{
  display: flex;
  column-gap: 10px;
}
#report_user_bottom_right textarea{
   color:white;
   min-height: 70px;
   font-family: Signika Negative;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px 0px 0px 5px;
    transition: all 0.5s ease-in-out;
}
#report_user_bottom_right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#report_user_bottom_right_buttons{
  display: flex;
  justify-content: end;
  column-gap: 10px;
  margin-top: 20px;

  
}
#report_user_bottom_right_buttons button{
  border-radius: 8px;
  cursor: pointer;
  padding:10px;
  border: 1px solid;
  background-color: transparent;
}
#report_button,#remove_button{
  color: rgb(204, 12, 12);
  border: none;
}
#report_button:hover,#remove_button:hover{
  color: rgb(48, 48, 48);
  background-color: rgb(197, 3, 3);
}
#report_cancel,#remove_cancel{
  color: rgb(161, 161, 161);
}
#report_cancel:hover,#remove_cancel:hover{
  color: white;
}
#remove_user_bar{
  width:15%;
}
#remove_button{
  margin-left: 10px;
}
#remove_user_bar button{
  cursor: pointer;
  padding:10px;
  border: 1px solid;
  background-color: transparent;
  border-radius:10px;
  margin-top: 10px;
}
#not_invited{
  margin-top: 60px;
  width:160px;
  height: 160px;
  display: flex;
  flex-direction: column;

  aspect-ratio:5/3;
}
#not_invited p{
  color: #c7c5c57a;
  width: 100%;
  text-align:center;
}
#not_invited img{
  height: 100%;
  opacity: 0.6;
}
#member_github{
  width: 100%;

}
#member_github p{
    
   font-size: 20px;
}
#member_github_principal{
  padding:5px;
  align-content: center;
  justify-content: space-between;
  background-color: #242424;
  display: flex;
}
#member_github_principal button{
  padding: 0;
  max-width: 40px;
  margin-top: 0;
  border: none;

}
#member_github_principal button img{

  width: 23px;
  height: 26px;
  aspect-ratio: 1/1;
  transition: all 0.2s ease-in-out;
}
#member_github_principal button img:hover{
  filter: drop-shadow(0px 0px 2px white);
}
#member_github_principal p{
  padding:4px;
  margin-top: 0;
  font-size: 20px;
}
#show_more_background{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
 
}
#show_more_background div{

  position: absolute;
  flex-direction: column;
  display: flex;
  padding: 7px;
  border-radius: 5px;
  background-color: #2F2F2F;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
}
#show_more_background div button{
  cursor: pointer;
  font-size: 15px;
    color: #cccccc;
  background-color: transparent;
  border: none;
}
#show_more_background div button:hover{
    color: #ffffff;
}
#update_message_background,#report_message_background{
  height: 100vh;
  width: 100vw;
  top:0;
  position: absolute;
 
  display: flex;
  align-items: center;
  justify-content: center;
}
#update_message_bar,#report_message_bar{
  padding:10px;
  background-color: #27282b;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.096);
}
#update_message_bar_top,#report_message_bar_top{
  
  width: 100%;
  display: flex;
  justify-content: space-between
}
#update_message_bar_top button,#report_message_bar_top button{
  cursor: pointer;
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 5px;
  background-color: rgb(27, 27, 27);
  color: white;
}
#update_message_bar_middle textarea,#report_message_bar_middle textarea{
    width: 80%;
  height: 50%;
  max-width: 300px;
  color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    scrollbar-color: transparent transparent;
}
#update_message_bar_bottom,#report_message_bar_bottom{
  display: flex;
  justify-content: end;
  column-gap: 10px;
  margin-top: 10px;
}
#update_message_bar_bottom button,#report_message_bar_bottom button{
  cursor: pointer;
  padding:5px;
  border-radius: 5px;
  background-color: transparent;
  border:1px solid;
}
#cancel_update_message,#cancel_report_message{
  color: rgb(214, 214, 214);
}
#apply_update_message{
  color: rgb(0, 212, 250);
}
#cancel_update_message:hover,#cancel_report_message:hover{
  color: #242424;
  background-color:  rgb(214, 214, 214);
}
#apply_update_message:hover{
  color: #242424;
  background-color: rgb(0, 212, 250);
 
}
#apply_report_message{
  color: rgb(250, 0, 0);
 
}
#apply_report_message:hover{
  color: #242424;
  background-color: rgb(238, 0, 0);
 
}
#create_lesson_background,#create_task_background,#help_task_background{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  background-color: #ffffff00;
  z-index: 2;

}
#create_lesson_bar{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:0.5fr 3fr 0.5fr 1fr 0.6fr;
  padding:5px;
  height: 50%;
  width: 50%;
  max-width: 800px;
  padding: 10px;
  background-color: #212124;
  border-radius: 10px;
}
#create_lesson_bar_title{
  display: flex;
  color: white;
  font-family: Signika Negative;
  justify-content: space-between;

grid-column: span 2;
  width: 100%;
  height: 100%;
}
#create_lesson_bar_title button{
  height: 25px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0e0e0e;
  color: white;
}
#create_lesson_bar_info{
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;
  padding: 5px;
}
#create_lesson_bar_info label,#create_lesson_bar_thumbnail_title label{
  margin-top: 5px;
  font-family: Signika Negative;
  color: rgb(206, 206, 206);
}
#create_lesson_bar_info input,#create_lesson_bar_info textarea{
  color:white;
  font-family: Signika Negative;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#create_lesson_bar_info textarea{
flex-grow: 1;
}
#create_lesson_bar_thumbnail{
  border-radius: 5px;
  justify-content: space-between;
  border:10px solid #16161b0a;
  padding: 5px;

  display:flex;
flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #16161b8e;
}
#create_lesson_bar_thumbnail button{
  cursor: pointer;
  padding: 7px 15px 7px 15px; 
  background-color: transparent;
  border: 1px solid;
  color: white;
  border-radius: 5px;
}
#create_lesson_bar_thumbnail button:hover{
  color: rgb(32, 32, 32);
  background-color: rgb(218, 218, 218);
}
#create_lesson_bar_tasks{
  background-color:rgba(0, 0, 0, 0.178);
  grid-column: span 2;
}
#create_lesson_bar_tasks_title{
  display: grid;
  grid-template-columns: 1fr 1fr 0.3fr;

  grid-column: span 2;
}
#create_lesson_bar_tasks_title p{

  display: flex;
  align-items: center;
}
#create_tasks_button{
  color: rgb(0, 153, 255);
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
}

#create_tasks_button:hover{
  color: rgb(70, 181, 255);
}
#create_lesson_bar_buttons{

  grid-column: span 2;
  display: flex;
  align-items: end;
  justify-content: end;
  box-sizing: border-box;
  padding: 5px;
  column-gap: 5px;
}
#create_lesson_bar_buttons button{
  cursor: pointer;
  padding: 5px 10px 5px 10px;  
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  font-size: 15px;
}
#cancel_lesson_button{
  color: rgb(187, 187, 187);
}
#cancel_lesson_button:hover{
 color: rgb(224, 224, 224);
}
#create_lesson_button{
  color: rgba(187, 255, 0, 0.719);
}
#create_lesson_button:hover{
  color: rgba(39, 39, 39, 0.719);
  background-color: rgba(187, 255, 0, 0.719);

}
#create_lesson_bar_thumbnail_title{
  width: 100%;
  /* background-color: blue; */
}
#create_lesson_bar_thumbnail_input,#create_task_bar input[type="file"]{
  display: none;
}
#create_lesson_bar_thumbnail_principal{
  width: 15vw;
  overflow: hidden;
  aspect-ratio: 3/2;
  max-width: 190px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.219);
  align-items: center;
  justify-content: center;
  display: flex;
}
#create_lesson_bar_thumbnail_principal img{
  height: 100%;
}
#create_task_bar_title{
  display: flex;
  width: 100%;
}
#create_task_bar{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);


  padding:5px;
  min-height: 50%;
  width: 50%;
  max-width: 800px;
  padding: 10px;
   background-color: #212124;
  border-radius: 10px;
}
#create_task_bar_title{
color: white;
  font-family: Signika Negative;
  justify-content: space-between;
}
#create_task_bar_title button{
  height: 25px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0e0e0e;
  color: white;
}
#create_task_bar_type_title{
  align-items: end;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#create_task_bar_type_title p{
  color: #c7c5c5;
}
#create_task_bar_type_title button{
  transition: 0.17s ease-in-out;
  opacity: 0.4;
  cursor: pointer;
  padding: 5px 8px 5px 8px;
  border: 1px solid;
  border-radius: 5px;
  background-color: transparent;
  color: rgb(163, 163, 163);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
#create_task_bar_type_title button:hover{
  opacity: 1;
}
#create_task_bar_type_title button img{
  height: 15px;
}
#create_task_bar_type{
  margin-top: 5px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(0, 0, 0, 0.233);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  padding: 5px;
  column-gap: 10px;
}
#create_task_bar_type button{
  opacity: 0.4;
  color: white;
 background-color: transparent;
 border: none;
 font-family: Signika Negative;
}
#create_task_bar_type button div{
  cursor: pointer;
  margin-top: 5px;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 7px;
}
#create_task_bar_type button div img{
  height: 30px;
}
#bar_task_explanation{
  display: grid;
  grid-template-columns: 1fr 1fr;


  box-sizing: border-box;
  padding: 5px;
  margin-top: 5px;
  overflow-y: auto;
  max-height: 300px;
  background-color: rgba(252, 252, 252, 0.034);
  height: 300px;
  scrollbar-width: thin;
  scrollbar-color: rgb(29, 29, 29) rgba(0, 0, 255, 0);
}
#bar_task_explanation_left{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  

}
#bar_task_explanation_right{

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;

}
#bar_task_explanation h1{
  color: rgb(207, 207, 207);
  font-size: 25px;
  font-family: Signika Negative;
  
}
#bar_task_explanation label{
  margin-top: 10px;
  color: rgb(207, 207, 207);

  font-family: Signika Negative;
  
}
#create_task_bar_buttons{
  display: flex;
  align-items: end;
  justify-content: end;
  column-gap: 10px;
}
#create_task_bar_buttons button{
  margin-top: 10px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border: 1px solid;
  font-size: 15px;
  border-radius: 5px;
  background-color: transparent;
}
#create_task_button{
  color: rgb(31, 165, 255);
}
#create_task_button:hover{
  background-color:rgb(0, 153, 255);
  color: rgb(27, 27, 27);
}
#cancel_task_button{
  color: rgb(179, 179, 179);
}
#cancel_task_button:hover{
  color: rgb(226, 226, 226);
}
#bar_task_explanation textarea,#bar_task_explanation input{
color:white;
  font-family: Signika Negative;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#bar_task_explanation textarea{
  min-height: 80px;
  
}
#bar_task_explanation button{
  transition: 0.16s ease-in-out;
  opacity: 0.6;
  cursor: pointer;
  width: 60%;
  margin-top: 10px;
  background-color: transparent;
  border: none;
}
#bar_task_explanation button img{
 width: 100%;
  background-color: rgb(43, 43, 43);
  border: 2px dashed #0066cc;
  background:linear-gradient(225deg,rgb(43, 43, 43),rgb(34, 34, 34));
}
#bar_task_explanation button:hover{
  opacity: 1;
}