
#groups_principal{
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    height:100vh;
    width:100vw;

    background-color: rgb(34, 34, 34);
}
#groups_content{
    grid-template-columns: 1fr 5fr;
    display: grid;
    width:100%;
    height:100%;
  
}
#groups_content_empty_active{
    align-items: center;
    justify-content: center;
    display: flex;
}
#groups_content_empty_active img{
    height:40%;

}
#groups_content_inactive{
    display: none;
}

#groups_content_group_active{
    display:grid;
    /* background-color: rgba(255, 0, 0, 0.342); */
    grid-template-columns: 3fr 1fr;
}
#group_users_part{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #2F2F2F;
}
#group_users_part{
    
}
@media (min-width:1500px){
     #groups_content_group_active{
    display:grid;
    grid-template-columns: 13fr 2fr;
}
}
#group_members{
    align-items: center;
    max-height: 80%;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;

    color: white;
    display: flex;
   margin-top: 10px;
    flex-direction: column;
}
#group_owner{
    margin-top: 30px;
    
     color: white;
    display: flex;
    flex-direction: column;
    
}
#group_users_part_button_add_user{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border: 1px solid;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: transparent;
    border-radius:10px;
    padding-block: 10px;
    width:80%;
    cursor: pointer;
}
#group_users_part_button_add_user img{
    height:20px;
}
#group_users_part_button_add_user:hover{
    transition: all 0.1s ease-in-out;
      background-color: rgba(255, 255, 255, 0.295);
}
#group_members p{
    font-family: Signika Negative;
    margin-left: 10px;
}
#group_owner p{
       font-family: Signika Negative;
    margin-left: 10px;
}

#group_user{
color:white;
    font-family: Signika Negative;
    display: grid;
    grid-template-rows: 2fr 7fr;
    height: 100%;
    background-color: #2F2F2F;
}
#group_user_img_selected{
    width:10vw;
    max-width: 200px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
#group_user_img_selected img{
    height: 100%;
}
#group_user_name_selected{
    font-size: 30px;
}
#group_user_level_selected{
    font-size: 15px;
}
#group_user_top{

    padding:20px
}
#group_user_top img{
    height: 30px;
}
#group_user_top button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#group_user_middle{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#group_user_level{
    overflow: hidden;
    width:10vw;
    max-width: 200px;
    height:30px;
    background-color: black;
    border-radius: 100px;
}
#group_user_level div{
    height:100%;
    background-color: #AACE1C;
    border-radius: 100px;

}
#chat_part{
    display: grid;
    grid-template-rows: 9fr 1fr;
}
#chat_part_messages{
    /* background-color: green; */
    overflow-y: scroll;
    scrollbar-color:transparent transparent;
}
#chat_part_input_inactive{
    background-color: rgba(255, 0, 0, 0);
}
#chat_part_input_active{
    /* background-color: rgba(240, 248, 255, 0.301); */
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.chat_part_input_icons{
    filter: opacity(0.7);
    background-color: #636E9A;
    border-radius: 5px;
    padding:10px;
    aspect-ratio: 1/1;
    cursor: pointer;

}
.chat_part_input_icons img{
    height:30px;
}
.chat_part_input_icons:hover{
    filter: opacity(1);
}
#chat_part_input_part img{
    height: 30px;
}
#chat_part_input_part{
    border: 1px #7A7A7A solid;
    border-radius: 10px;
    column-gap: 10px;
    padding-inline: 10px;
    background-color: #131313;
    height: max-content;
    display: flex;
    align-items: center;
}
#chat_part_input_part input{
    width:30vw;
    color: white;
    border: none;
    background-color: transparent;
    padding:15px;
    font-size: 25px
}
#chat_part_input_part input:focus{

    outline: none;
}

#group_lesson_background_inactive{
    display: none;
}
#group_lesson_background_active{
    position: absolute;
    top:0;
    height: 100vh;
    width:100vw;
    background-color: #0000007a;
    display: flex;
    align-items: center;
    justify-content: center;
}
#group_lesson_bar{
    gap:5px;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr 0.7fr 0.3fr;
    border-radius: 10px;;
    display: grid;
    width:60vw;
    height:50vh;
    max-width: 1000px;
    max-height: 500px;
    background-color: #272727;
    padding:20px;
}


#group_lesson_bar_input_part{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Signika Negative;
    font-size: 20px;
}
#group_lesson_bar_input_part input[type="text"]{
    width:80%;
    color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#group_lesson_bar_input_part textarea{
    scrollbar-color: rgb(74, 88, 104) transparent;
    width:80%;
    max-width: 80%;
    min-width: 80%;
    aspect-ratio: 3/1;
    color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#group_lesson_bar_image_part{
    background-color: rgba(255, 0, 0, 0.233);
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#group_lesson_bar_image_part button{
    padding:10px 20px 10px 20px;
     font-size: 20px;
     font-family: Silkscreen;
     background-color: transparent;
     color:white;
     border:1px solid;
     border-radius: 10px;
}
#group_lesson_bar_image_part_title{
    width:100%;
    background-color: #ce1c1c4d;
      color: white;
    font-family: Signika Negative;
    font-size: 20px;
    
}
#group_lesson_bar_task_part{
    background-color: rgba(255, 166, 0, 0.116);
    grid-column: 1/ span 2;
}

#group_lesson_bar_option_part{
    background-color: rgba(30, 255, 0, 0.199);
     grid-column: 1/ span 2;
}
.group_user_buttons{
    width:80%;
    margin-top: 10px;
    padding:10px 0px 10px 0px;
    border-radius: 10px;

    font-family: Silkscreen;
    background-color: transparent;
    border:1px solid;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}
.group_user_buttons img{
    height:20px;
}
#group_user_button_remove{
    color: rgb(226, 145, 24);
    
}
#group_user_button_remove:hover{

background-color: rgba(226, 145, 24, 0.199);
cursor: pointer;

}
#group_user_button_report{
    color: rgb(218, 23, 23);
    
}
#group_user_button_report:hover{

background-color: rgba(218, 23, 23, 0.24);
cursor: pointer;
}
#report_background{

    width: 100vw;
    height:100vh;
    top:0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#report_bar{
    max-width: 300px;
    width:20vw;
    background-color: #3a3a3a;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
    padding:20px;
}
#report_bar_user{

    column-gap: 30px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#report_bar_user div{
    width:80%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1000px;
}
#report_bar_user div img{
    height: 100%;
}
#report_bar_user p{
    color: white;
    font-family: Signika Negative;
    font-size: 30px;
}
#report_bar_reason p{
    font-family: Signika Negative;
    color: rgb(190, 190, 190);
}
#report_bar_reason textarea{
    width:80%;
    max-width: 80%;
    min-width: 80%;
    scrollbar-color: rgb(74, 88, 104) transparent;
    aspect-ratio: 3/1;
    color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#report_bar button{
    cursor: pointer;
    background-color: transparent;
    font-family: Silkscreen;
    padding:5px;
    border-radius: 5px;
    border:1px solid;
    padding:10px;
}
#report_bar_buttons{
    width:100%;
    margin-top: 10px;
    gap:5px;
    display: flex;
    justify-content: end;
}
#report_button_report{
    color:red

}
#report_button_report:hover{
    background-color: rgba(255, 0, 0, 0.247);

}
#report_button_cancel{
    color:rgb(236, 236, 236)

}
#report_button_cancel:hover{
      background-color: rgba(255, 255, 255, 0.247);

}
#create_group_background{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    width: 100vw;
    height:100vh;

}
#create_group_bar{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.103);
    display: flex;
    flex-direction: column;
    padding:10px;
    max-width: 400px;
    width: 30vw;
      background-color: #303030;
      border-radius: 10px;
   
}
#create_group_bar label{
     color: rgb(202, 202, 202);
      font-family: Signika Negative;
}
#create_group_bar h3{
    font-size: 30px;
    color: rgb(236, 236, 236);
      font-family: Signika Negative;
}
#create_group_bar button{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    cursor: pointer;
      font-family: Silkscreen;
      padding:10px;
    background-color: transparent;
    border:1px solid;
    border-radius: 10px;
      
}
#create_group_bar button img{
    height: 20px;
}
#create_group_bar div{
  
    width:100%;
    justify-content: end;
    display: flex;
    margin-top:10px;
    gap:10px;

}
#create_group_bar input[type="text"]{
     width:50%;
    color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#create_group_bar textarea{
     width:100%;
    color:white;
    font-size: 20px;
    /* padding:10px; */
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#create_group_button_create{
color: #00ffffc5;
}
#create_group_button_cancel{
    color: white;
}
#create_group_button_create:hover{
background-color: #00ffff4f;
}
#create_group_button_cancel:hover{
 background-color: #ffffff4f;
}
#invite_user_background{
    position: absolute;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;

}
#invite_user_bar{
    border-radius: 10px;
    overflow: hidden;
    width:60vw;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
    height:50vh;
    background-color: #2F2F2F;
    display: grid;
    grid-template-columns: 3fr 2px 4fr;
    
}
#invite_user_bar_invited{   
    
    display: grid;
    grid-template-rows: 2fr 10fr;
}
#invite_user_bar_invited_top{
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
    font-family: Signika Negative;
}
#invite_user_bar_invited_bottom{
  

}
#invite_user_bar_invite{
    display: grid;
    grid-template-rows: 5fr 10fr;
}
#invite_user_bar_decoration{
    background:linear-gradient(0deg,rgba(255, 0, 0, 0),#161616)
}
#invite_user_bar_invite_top{
    
    padding:20px;
    flex-direction: column;
    display: flex;
    font-family: Signika Negative;
    border-bottom: 2px solid rgb(20, 20, 20);
}
#invite_user_bar_invite_top label{
    color:rgb(211, 211, 211)
}
#invite_user_bar_invite_top div{
  
    display: flex;
    align-items: center;
}
#invite_user_bar_invite_top button{
    cursor: pointer;
    height:100%;
    aspect-ratio: 1/1;
    border-radius: 0px 5px 5px 0px;
     background-color: rgb(20, 20, 20);
     border: none;
}
#invite_user_bar_invite_top button img{
    height:20px;
     filter: opacity(0.8);
     transition: all 0.1s ease-in-out;
}
#invite_user_bar_invite_top button img:hover{
    filter: opacity(0.5);
}
#invite_user_bar_invite_top input[type="text"]{
    width:70%;
    color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px 0px 0px 5px;
    transition: all 0.5s ease-in-out;
}
#invite_user_bar_invite_top h1{
    color:white;
    font-weight:100;
} 
.group_solicitation_empty img{
   width:100px;
   filter: brightness(0.6);
}
.group_solicitation_empty{
    color: rgb(190, 255, 85);
    color: rgb(22, 22, 22);
    font-family: Signika Negative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#remove_member_background{
    position: absolute;
    top:0;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#remove_member_background div{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
    max-width: 400px;
    width:20vw;
    padding:10px;
    background-color: #303030;
    border-radius: 10px;
}
#remove_member_background div div{
    box-shadow: none;
    justify-content:  end;
    padding:0;
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
}
#remove_member_background p{
    font-size: 20px;
    color: white;
    font-family: Signika Negative;

}
#remove_member_background button{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    padding:5px 15px 5px 15px;
}
#remove_member_button_cancel{
 color:rgba(255, 255, 255, 0.692)
}
#remove_member_button_remove{
    color:rgba(255, 0, 0, 0.795);
}
#remove_member_button_cancel:hover{
  background-color: rgba(255, 255, 255, 0.164)
}
#remove_member_button_remove:hover{
  background-color: rgba(255, 0, 0, 0.192);
}