
#groups_principal{
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    height:100vh;
    width:100vw;

    background-color: rgb(34, 34, 34);
}
#groups_content{
    grid-template-columns: 1fr 5fr;
    display: grid;
    width:100%;
    height:100%;
  
}