#login{
    height:100vh;
    width:100vw;
    background:linear-gradient(30deg,rgb(20, 20, 24),rgb(41, 41, 44));
    display:grid;
    grid-template-columns: 3fr 2fr;
    overflow: hidden;
}
#login_image_part{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 60px;
}

#login_image_kangal{
    cursor: pointer;
    width:50%;
    max-width: 400px;
}
#login_image_perspective{
    width:80%;
    max-width: 800px;
}
#login_core_part{
    background:linear-gradient(0deg,rgb(34, 34, 41),rgb(44, 45, 48));
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_signin_active{
    display: flex;
    align-items: start;
    justify-content: start;
flex-direction: column;
    height:80%;
width:80%;
max-width: 600px;

}

#login_signin_inactive{
display: none;

}

#login_core_part p{
    color: white;
    font-family: "Signika Negative";

}
#login_core_part h2{
    
    font-size: 50px;
    color: white;
    font-family: "Signika Negative";
}
#login_core_part button{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 30px;
    font-family: 'Silkscreen';
    border: 2px solid;

    border-radius: 10px;
    background: none;
    padding:20px;
    width:100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}



.inputs{
    margin-top: 30px;
    background-color: rgba(255, 0, 0, 0);
    width:100%;
    flex-direction: column;
    display: flex;
}
.inputs label{

    font-size: 30px;
    color: white;
    font-family: "Signika Negative";
}
#login_core_part input[type="text"]{
    color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#login_core_part input[type="date"]{
    color:white;
    font-size: 20px;
    padding:10px;
    background:rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    width:200px;
}
#login_core_part input[type=text]:focus{
    outline: 2px solid #AACE1C;
    border: transparent;
    background-color: rgb(41, 41, 41);
    box-shadow: transparent;
}



#separator{
    width:100%;
    height:2px;
    background-color: rgb(126, 126, 126);
    margin-top: 30px;
}


#login_signup_active{

    overflow-y: scroll;
    scrollbar-color: rgb(20,20,20) transparent;
    display: flex;
    align-items: start;
    justify-content: start;
flex-direction: column;
    height:90%;
width:80%;
max-width: 600px;

}
#login_signup_active input[type="text"]{
    width:80%;
    z-index: 10;
    margin-left: 2px;
}

#login_signup_active button{
    color:rgb(142, 213, 255);
}
#login_signup_active button:hover{
   color:rgb(20, 20, 20);
   background:linear-gradient(0deg,rgb(91, 156, 194),rgb(142, 213, 255))
}

#login_signin_active button{
    color:rgb(221, 255, 142);
}
#login_signin_active button:hover{
    background:linear-gradient(0deg,#8fad17,#AACE1C);
    color: rgb(48, 48, 48);
}

#login_signup_inactive{
display: none;

}

#login_core_part .google_button{
    color:white;
}
#login_core_part .google_button:hover{
    background:linear-gradient(0deg,#b3b3b3,#d3d3d3);
    color:rgb(29, 29, 29);
}

#login_core_part .google_img{
    height:20px;
    filter:drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.26))
}
#continue_google_login_active{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    align-items: center;
    justify-content: center;
}

#continue_google_login_inactive{
    display: none;
}

#continue_google_login_active span{
    position: absolute;
    font-size: 30px;
    top:20px;
    right:20px;
    color:white;
    font-family: leelawadee;
}
#continue_google_login_bar{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.486);
    padding:30px 150px 30px 150px;
    background:linear-gradient(0deg,rgb(29, 29, 29),rgb(43, 43, 43));
}
#continue_google_login_bar input[type="text"]{
    color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
#continue_google_login_bar input[type="text"]:focus{
    outline: 2px solid #AACE1C;
    border: transparent;
    background-color: rgb(41, 41, 41);
    box-shadow: transparent;
}

#continue_google_login_bar button{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 30px;
    font-family: 'Silkscreen';
    border: 2px solid;
    color: rgb(255, 187, 0);
    border-radius: 10px;
    background: none;
    padding:20px;
    width:100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#continue_google_login_bar button:hover{
    color:rgb(20, 20, 20);
    background:linear-gradient(0deg,rgb(255, 187, 0),rgb(255, 198, 43))
 }
#continue_google_login_bar label{
    font-size: 30px;
    color: white;
    font-family: "Signika Negative";
}
#alert_inactive{

    display: none;
}

#alert_active{
    position: absolute;
    top:20px;
    right:20px;
}