.nav_left_list_item{
    flex: 0 0 auto;
    width:100%;
    height:70px;

    align-items: center;
    display: flex;

    min-height: 70px;
}

.nav_left_list_item_decoration{
    height:100%;
    width:4px;
    border-radius:2px;
    background-color: rgb(12, 12, 12);
}
.nav_left_list_item_principal:hover{
    background-color: rgba(0, 0, 0, 0.301);
}
.nav_left_list_item_principal{
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    grid-row: 1fr;
    width:95%;
    border: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 0px 10px 10px 0px;

    height:90%;
    background-color: rgba(0, 0, 0, 0.055);

    transition: all 0.2s ease-in;
}
.av_left_list_item_principal:hover{
  background-color: rgb(19, 19, 19);

}
.nav_left_list_item_principal:active{
    background-color: rgba(80, 0, 0, 0);

}
.nav_left_list_item_principal p{
font-size: 20px;
    color: white;
 place-self: center;
}
.nav_left_list_item_principal img{
     
}
.nav_left_list_item_image_part{
    place-self: center;
    height:50px;
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.329);
    overflow: hidden;
}
.nav_left_list_item_image_part img{
    height: 100%;
}