.nav_left_list_item{
    width:100%;
    height:80px;
    background-color: rgba(255, 0, 0, 0);
    align-items: center;
    display: flex;

}

.nav_left_list_item_decoration{
    height:100%;
    width:4px;
    border-radius:2px;
    
}
.nav_left_list_item_principal{
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    grid-row: 1fr;
    width:100%;
    height:90%;
    background-color: rgba(0, 0, 0, 0.171);

    transition: all 0.2s ease-in;
}
.av_left_list_item_principal:hover{
  background-color: rgb(19, 19, 19);

}
.nav_left_list_item_principal:active{
    background-color: rgba(80, 0, 0, 0);

}
.nav_left_list_item_principal p{
font-size: 20px;
    color: white;
 place-self: center;
}
.nav_left_list_item_principal img{
     place-self: center;
    height:50px;
    aspect-ratio: 1/1;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.185);
}