.invited{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  
    height: fit-content;
}
.invited_principal{
    border-bottom: 1px solid rgba(59, 59, 59, 0.664);
    border-radius: 5px;
    width:100%;
    height:min-content;
    padding-block: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.invited label{
    font-family:Signika Negative;
}
.invited_decoration{
    width:95%;
    height: 1px;
    background-color: rgb(136, 136, 136);
}

.invited div div{
    overflow: hidden;
border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:30px;
    aspect-ratio: 1/1;

}
.invited div div img{
    height: 100%;
    
}
.invited button{
    font-family: Silkscreen;
    padding:5px 10px 5px 10px;

    border-radius: 5px;

    font-size: 11px;
    cursor: pointer;
}

.button_to_invite{
    color:rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.11);
    background-color: rgba(79, 120, 255, 0.822);
}
.button_to_invite:hover{
    background-color: rgba(36, 113, 255, 0.425)
}
.button_invited{
    color:rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.11);
    background-color: rgb(31, 31, 31);
}
.button_invited:hover{
    background-color: rgba(252, 252, 252, 0.014)
}