.invited{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    height: fit-content;
}
.invited_principal{
    width:100%;
    height:min-content;
    padding-block: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.invited label{
    font-family:Signika Negative;
}
.invited_decoration{
    width:95%;
    height: 1px;
    background-color: rgb(136, 136, 136);
}
.invited div div{
    overflow: hidden;
border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:30px;
    aspect-ratio: 1/1;
    background-color: red;
}
.invited div div img{
    height: 100%;
    
}
.invited button{
    font-family: Silkscreen;
    padding:5px 10px 5px 10px;
    border: 1px solid;

    border-radius: 5px;
    background-color: transparent;
    font-size: 11px;
    cursor: pointer;
}

.button_to_invite{
    color:rgb(36, 255, 219)
}
.button_to_invite:hover{
    background-color: rgba(36, 255, 218, 0.226)
}
.button_invited{
    color:rgb(243, 125, 57)
}
.button_invited:hover{
    background-color: rgba(255, 160, 36, 0.226)
}