*{
    margin: 0;
    padding: 0;
}
#footer{
   
    width: 100%;
    overflow: hidden;
    background-color: rgb(11,11,11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#footer_kangal_image{
    width:300px;
}
#footer_decoration{
    height:2px;
    width:100%;
    background:linear-gradient(90deg,transparent,#AACE1C,transparent);
}
#footer_buttons{
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    column-gap: 20px;
    margin-top: 30px;
    align-items: center;
    height:25px;
    
}
#footer_buttons img{
    padding:10px;
    border-radius: 20px;
    border: 2px solid white;
    cursor: pointer;
}
#footer_buttons img:hover{

    background-color: rgb(56, 56, 56);
    border: 2px solid white;
}
#mail{
    height:100%;
}
#instagram{
    height:100%;
}
#footer_end{
    width:100%;
    padding-block: 10px;
    background-color: black;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#footer_end p{
    margin-left: 30px;
    color: white;
    font-family: 'Signika Negative';
}
#footer_end li{
    margin-right: 30px;
    display: flex;
    column-gap: 10px;
}
#footer_end ul{
    color: white;
    font-family: 'Silkscreen';

}