#footer{
    height:200px;
    width:100%;
    background-color: rgb(11,11,11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#footer_kangal_image{
    width:300px;
}
#footer_decoration{
    height:2px;
    width:100%;
    background:linear-gradient(90deg,transparent,#AACE1C,transparent);
}
#footer_buttons{
    background-color: red;
    display: flex;
}
#footer_buttons img{
    height:40px;
}