.user_group_lesson{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 200px;
    flex-direction: column;
    width: 100%;
  border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.062);
    border: 1px solid rgba(255, 255, 255, 0.089);
      box-sizing: border-box;
}
.user_group_lesson_image{
    overflow: hidden;
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
     margin-bottom: 10px;
}
.user_group_lesson_image img{
    height: 100%;
}
.user_group_lesson p{
    max-width: 100px;
   
}
.user_group_lesson_note{
    opacity: 0.4;
}
.user_group_lesson button{
cursor:pointer;
    padding: 3px 10px 3px 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.158);
    background-color: rgb(106, 104, 255);
    color: rgb(255, 255, 255);
}
.user_group_lesson button:hover{
    border: 1px solid rgba(255, 255, 255, 0.062);
     background-color: rgba(107, 104, 255, 0.63);
    color: rgb(255, 255, 255);
}
.user_group_lesson_date{
    font-size: 13px;
}