#nav_left *{
    font-family: Signika Negative;
}
#nav_left{

    
    height:100%;
    display: flex;
    background-color: rgb(25, 25, 27);
    width: 100%;
    justify-content: space-between;
   
}
#nav_left_principal{
    display: grid;
    grid-template-rows: 1fr 0.8fr 9fr 2fr;




width:100%;
height:100%;
}
#nav_left_decoration{
    width:1px;
    height:100%;
    background:rgb(73, 73, 73)
}
#top_buttons{

width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#top_buttons ul{
    border-radius: 10px;
    padding:10px;
    width:80%;
    max-height: 35px;
    background-color:#121213;

    display: flex;
    justify-content: space-around;
}

#top_buttons li{
    
    cursor: pointer;
    border-radius: 5px;
    
    list-style-type: none;
    width:15%;
    aspect-ratio: 1/1;

    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top_buttons li img{
height:50%;
}


#nav_left_bottom{

    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#nav_left_list{
    max-height:60vh;
    flex: 0 0 auto;
       row-gap: 8px;
       display: flex;
       overflow-y:scroll;
       flex-direction: column;
    align-items: center;

    scrollbar-color: rgb(61, 61, 61) transparent;
    width: 100%;
    height: 100%;
}
#update{
    padding: 10px;
    box-sizing: border-box;

 
    width:100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height:100%;
}
#solicitation_title{
    

    color:rgb(212, 212, 212);
  
    padding:15px;

    display: flex;
    align-items: end;
}

#update_button{
    background-color: transparent;
    width:80%;
    padding:10px;
    font-family:Silkscreen;
    border-radius: 5px;
    color:aqua;
    border: 2px solid ;
}

#nav_left_list #paper_error{
    margin-top: 50%;
    width:90%;
    max-width: 200px;
}
#nav_left_list #text_error{
  
    color: rgb(102, 102, 102);
}

#button_create_group{
    
    color: #15cfcf8f;
    
}
#button_create_group img{
height: 20px;;
}
#button_create_group:hover{
    opacity: 1;
    background-color:rgba(0, 0, 0, 0);
   filter: saturate(0.8) brightness(3);
    
}
#back_groups img{
    height: 20px;;
}
#back_groups,#button_create_group{
    
filter: saturate(0.6);
opacity: 0.6;
    display: flex;
    column-gap: 10px;
    justify-content: start;
    align-items: center;
    font-family: Signika Negative;
    font-size: 16px;
    background-color: transparent;
    border: none;
    width:70%;
    padding-block: 8px;
   
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.16s ease-in-out;
}
#back_groups{
    color: rgba(204, 204, 204, 0.315);
}
#back_groups:hover{

   opacity: 1;
   background-color:rgba(0, 0, 0, 0);
   filter: saturate(1) brightness(3);
    
}