#nav_left *{
    font-family: Signika Negative;
}
#nav_left{


    height:100%;
    display: flex;
    background-color: rgba(255, 0, 0, 0);
    
    justify-content: space-between;

}
#nav_left_principal{
background-color: rgba(255, 0, 0, 0);
display: flex;
flex-direction: column;

width:100%;
height:100%;
}
#nav_left_decoration{
    width:1px;
    height:100%;
    background:linear-gradient(0deg,transparent,#AACE1C)
}
#top_buttons{
    width:100%;
    

}
#top_buttons ul{
    padding-block: 10px;
    display: flex;
    justify-content: space-around;
}
#top_buttons li:hover{
    border: 2px solid #637711;
    }
#top_buttons li{
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid white;
    list-style-type: none;
    width:15%;
    aspect-ratio: 1/1;

    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#top_buttons li img{
height:50%;
}

#nav_left_bottom{
 
    width:100%;
    height:80%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#solicitation_title{
    margin-top: 20px;
    color:rgb(212, 212, 212);
  
    margin-left: 15px;
}

#update_button{
    background-color: transparent;
    width:80%;
    padding:10px;
    font-family:Silkscreen;
    border-radius: 5px;
    color:aqua;
    border: 2px solid ;
}
#nav_left_list{

       row-gap: 15px;
       display: flex;
       flex-direction: column;
    align-items: center;
    width: 100%;
    height:90%;
}
#nav_left_list #paper_error{
    margin-top: 50%;
    width:90%;
    max-width: 200px;
}
#nav_left_list #text_error{
  
    color: rgb(102, 102, 102);
}
@media (max-width:1290px) {
   #nav_left_bottom{
    height:75%;
   }
    #top_buttons ul{

        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #top_buttons li{
        width:80%;
        height:80%;
        
    }
}
@media (max-width:750px) {
    #nav_left_bottom{
    height:65%;
   }
    #top_buttons ul{

        display: grid;
        place-items: center;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    #top_buttons li{
        width:80%;
        height:80%;
        
    }
}

#button_create_group{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: Silkscreen;
    background-color: transparent;
    border: 1px solid;
    color: #00ffffc5;
    width:80%;
    padding-block: 10px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.16s ease-in-out;
}
#button_create_group img{
height: 20px;;
}
#button_create_group:hover{
    background-color:rgba(0, 255, 255, 0.39);
   
    
}