

.site-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(20, 20, 20);
}

.site-background .game-container {
  position: relative;
  width: 800px;
  height: 500px;
  background: linear-gradient(150deg,rgb(36, 36, 36),rgb(19, 19, 19));
  overflow: hidden;
  border-block: rgb(110, 110, 110) 3px solid;
  border-left: 3px solid #bbe60f8e;
  border-right: 3px solid rgba(255, 94, 0, 0.5);
  box-shadow: inset 5px 0px 10px rgb(45, 94, 0), inset -5px 0px 10px rgb(94, 42, 0);;
}

.site-background .paddle {
  position: absolute;
  width: 10px;
  height: 100px;

}

.site-background .paddle.player {
  left: 0;

  background-color: #bbe60f;
}

.site-background .paddle.enemy {
  right: 0;
  background-color: rgb(255, 94, 0);
}

.site-background .ball {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px white;
  border-radius: 20px;
}

.site-background .score {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Silkscreen;
  color: white;
  font-size: 24px;
  /* font-family: monospace; */
}

.site-background .message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 251, 0);
  font-size: 32px;
  font-weight: bold;
  font-family: monospace;
}