#game_nav_top{
   border-bottom: 1px solid rgba(92, 92, 92, 0.37);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.194);
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;  border-bottom: 1px solid rgba(92, 92, 92, 0.37);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.194);
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}
#game_nav_top{
    font-family: Signika Negative;
  color: white;
  font-size: 15px;
}
#game_nav_top button{
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 13px 7px 13px;
    font-size: 15px;
    border: 1px solid;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.354);
    transition: all 0.17s ease-in-out;
}
#game_nav_top button:hover{
    background-color: rgba(255, 255, 255, 0.354);
    color: rgb(20, 20, 20);
}
#game_nav_top h1 {
    font-family: Signika Negative;
  }