
.tic_tac_toe {
 
  background-color: rgb(20, 20, 20);
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tic_tac_toe h1{
  font-family: Silkscreen;
  color: #bbe60f;
    margin-bottom: 10px;
}

.tic_tac_toe .mode-buttons,
.tic_tac_toe .buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.tic_tac_toe .board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  margin-top: 20px;
}

.tic_tac_toe .cell {

  width: 100px;
  height: 100px;
  background: rgb(94, 94, 94);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #333;
  transition: background 0.3s;
    font-family: Signika Negative;
    border-radius: 10px;
    color: rgb(238, 238, 238);
}

.tic_tac_toe .cell:hover {
  background: #4b4b4b;
}

.tic_tac_toe .status {
  font-family: Signika Negative;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #ffffff;
}

.tic_tac_toe button {
  padding: 10px 20px;
  font-size: 1rem;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.tic_tac_toe button:hover {
  background: #555;
}