#upgrade{
   width: 100vw;
   height:100vh;

   position: absolute;
   top:0;
   display: flex;
   align-items: center;
   justify-content: center; 
}
#upgrade_principal{
    border-radius: 15px;
    overflow: hidden;
    font-family: Signika Negative;
    border-radius: 10px;

}
#upgrade_about{
    
padding:15px;
    background-color: rgb(41, 41, 41);
}
#upgrade_about div{
  
    width: 100%;
    justify-content: space-between;
    display: flex;
}
#upgrade_about div button{
    cursor: pointer;
    color: white;
    background-color: rgb(24, 24, 24);
    height:25px;
    width: 25px;
    border-radius: 5px;
    border: none;
}
#upgrade_about div h1{
    color: white;
    font-family: Signika Negative;
}
#upgrade_list{
    
    width: 70vw;
    max-width: 1000px;
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    padding:20px 15px 25px 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(15, 15, 15, 0.822);
    backdrop-filter: 20px;
    
}
.upgrade_item_background{
    display: flex;
    align-items: end;
    justify-content: center;

    
    
}
.upgrade_item_bar{
    width: 100%;
    row-gap: 2px;
    display: flex;
    flex-direction: column;
   background-color: rgb(82, 82, 82);
   border-radius: 15px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
     border-radius: 15px;
     padding: 3px;
}
.upgrade_item_bar_main{
    width: 100%;
    row-gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: #AACE1C;
   border-radius: 15px;
     overflow: hidden;
     border-radius: 15px;
     padding:10px 3px 3px 3px;
    
}
.upgrade_item_bar_main p{
    color: black;
    font-weight: 600;
}
.upgrade_item_bar_top{
    width: 100%;
    padding-block: 20px;
    color: white;
     background-color: rgb(46, 46, 46);
       border-radius: 15px 15px 0px 0px;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.upgrade_item_bar_bottom ul{
   

  
}
.upgrade_item_bar_bottom li{
    margin-top: 10px;
    font-size: 18px;
   display: flex;
   flex-direction: column;
   color:gray;
    
}
.upgrade_item_bar_bottom li span{
    color: white;
}
.upgrade_item_bar_bottom{
    flex-direction: column;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
        padding-bottom: 20px;
        background-color: rgb(46, 46, 46);
   align-items: center;
   justify-content: center;
   display: flex;
}
.upgrade_item_bar_bottom button{
    width: 60%;
    padding-block: 8px;
    border-radius: 8px;
    background-color: #AACE1C;
    margin-top: 10px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    font-family: Signika Negative;
    cursor: pointer;
    transition: all 0.17s ease-in-out;
    border: 2px solid #AACE1C;
}
.upgrade_item_bar_bottom button:hover{
    background-color: transparent;
    color: #AACE1C;
    border: 2px solid;
}
.insignia_part{
width: 100%;

margin-bottom: -20px;
}
.insignia_part img{
    margin-left: 10px;
    height: 30px;
}