.memory-game {
  display: flex;
  flex-direction: column;
  
  height:100vh;
  width:100vw;
  background-color: rgb(34, 34, 34);
  align-items: center;
  justify-content: center;
}
.memory-game img{
  height:100%;
  width:100%;
}
.memory-game h1,h2{
 font-family: Silkscreen;
}
.memory-game h1{
   color: #bbe60f;
}
.memory-game h2{
    color: rgb(255, 255, 255);
}
.memory-game .card-grid {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  gap: 10px;
  margin-top: 20px;
}

.memory-game .card {
  width: 80px;
  height: 80px;
  perspective: 1000px;
  cursor: pointer;
}

.memory-game .card .front,
.memory-game .card .back {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
.memory-game .card .back img{
  filter: opacity(0.43);
}
.memory-game .card .back {
  background: #444;
  transform: rotateY(0deg);
}

.memory-game .card .front {
  background: #fff;
  border: 2px solid #222;
  transform: rotateY(180deg);
}

.memory-game .card.flipped .front {
  transform: rotateY(0deg);
}

.memory-game .card.flipped .back {
  transform: rotateY(180deg);
}

.memory-game .won-message {
  margin-top: 20px;
  font-size: 24px;
  color: green;
  font-weight: bold;
}