.member{
    cursor: pointer;
    font-family: Signika Negative;
    color:rgb(187, 187, 187);
    align-self: center;
    width: 100%;
    height:70px;
    background-color: rgba(110, 110, 110, 0);
    display: grid;
    grid-template-columns:  2fr 5fr;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #878787a8;
    /* background-color: rgba(250, 235, 215, 0.226); */

}
.member_name_part{
    /* background-color: red; */
    height: 100%;
    justify-content: center;
    display: flex;

    flex-direction: column;
}
.member_img_part{
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: rgb(255, 251, 0); */
    height:100%;
}
.member_img{
    border-radius: 100%;
    height:60px;
    width:60px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.member_img img{
height:100%;

}
.ownerName{
    color: rgb(171, 243, 38);
}