.collection_chosen{
    align-items: center;
    justify-content: space-around;
    display: flex;
    width:100%;
    height:70px;
    background-color: rgba(44, 44, 44, 0.233);
    min-height: 70px;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 0.062);
    box-sizing: border-box;
}
.delete_collection{
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
    padding:5px;
    background-color: rgb(44, 46, 56);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.see_document{
    background-color: transparent;
    color: rgb(0, 152, 253);
    border: none;
    cursor: pointer;
    text-decoration: underline;
    
}
.see_document:hover{
   
    color: rgb(80, 185, 255);
   
    
}
.delete_collection img{
  
    height:80%;
}
.delete_collection img:hover{
    animation: delete-collection-animation;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes delete-collection-animation {
    0%{
        
    }
    100%{
        transform: rotate(-40deg);
    }
}
.collection_increased{
    animation-name: collection-increased-animation;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.062);
    width:100%;
    border-radius: 10px;
    height: fit-content;
    background-color: rgba(34, 34, 34, 0);
   
}
@keyframes collection-increased-animation {
    0%{
        background-color: rgb(43, 43, 43);
    }
}

.document_image{
      cursor: pointer;
    margin-left: 20px;
    opacity: 0.3;
    height:50%;
}
.my_collection_description{
 
    cursor: pointer;
  padding:8px 16px 8px 16px;
  font-size:12px;
  font-family: Signika Negative;
  border-radius: 7px;
  transition: all 0.17s ease-in-out;
cursor: pointer;
background-color: rgba(0, 0, 0, 0.048);
 color: rgb(255, 255, 255);
 border: none;
 outline: 1px solid rgba(255, 255, 255, 0.055);
}
.my_collection_description:hover{
     background-color:  rgba(255, 255, 255, 0.062);
}
.collection_description_title,.collection_description{
    margin-left: 10px;


    max-width: 100%;
    overflow: hidden;
    height:min-content;
}
.collection_description{
    padding-bottom: 10px;
    color: rgb(221, 221, 221);
}
.collection_description_title{
    margin-top: 10px;
}