.collection_chosen{
    align-items: center;
    justify-content: space-around;
    display: flex;
    width:100%;
    height:100px;
    background-color: rgb(34, 34, 34);
    min-height: 100px;
}
.delete_collection{
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
    padding:5px;
    background-color: rgb(63, 63, 63);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.see_document{
    background-color: transparent;
    color: rgb(0, 152, 253);
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
.delete_collection img{
  
    height:80%;
}
.collection_increased{
    width:100%;
    height: fit-content;
    background-color: rgb(34, 34, 34);
   
}
.document_image{
      cursor: pointer;
    margin-left: 20px;
    opacity: 0.3;
    height:50%;
}
.my_collection_description{
    padding:5px;
    background-color: transparent;
    border: 1px solid;
    color: rgb(216, 216, 216);
    font-family: Signika Negative;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.my_collection_description:hover{
    color: rgb(36, 36, 36);
    background-color: rgb(216, 216, 216);
}
.collection_description_title,.collection_description{
    margin-left: 10px;
    padding-bottom: 5px;
    
    max-width: 100%;
    overflow: hidden;
    height:min-content;
}