
#home{
    
    min-height: 100vh; 
    max-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    
}
#home_principal{
    min-width: 100vw;
    max-width: 100vw;

    min-height: 100vh;
    max-height: 100vh;
}
#home_content{
    /* overflow-y: scroll; */
    height:100%;
    width:100vw;
    background-color: #1e1e1e;
    display: grid;
        grid-template-rows: 60px 1fr;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

#home_content_principal{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
    width: 100%;
    max-height: 100%;
    
}
#home_content_principal_right{
   background: linear-gradient(0deg,rgb(22, 22, 24),rgb(31, 32, 34));
    display: flex;
    align-items: center;
    justify-content: center;
    scrollbar-color: rgb(58, 58, 58) transparent;
    height:100%;
    box-sizing: border-box;

    max-height: 100%;
    
    width: 100%; 
    overflow-y:scroll ;
 
}

#home_content_left_part{
  
    max-height:98%;
    min-height: 0;
    /* overflow: scroll; */
    width:50%;
    max-width: 900px;

}
#home_content_right_part{
    display: flex;
    justify-content: center;
    align-items: baseline;
    height:100%;
    width:20%;
    max-width: 250px;
   
}
#home_content_right_part img{
    cursor: pointer;
    width: 60%;
    border-radius: 5px;
    margin-top: 30px;
    
}
#about_me_top{
 
    padding: 10px;
 
    column-gap: 25px;
    margin-top: 40px;
    display: flex;
    width:100%;
    height:14vw;
    max-height: 230px;
   
}
#about_me_top_right{

    flex-grow: 1;
    height: 100%;
}
#about_me_top_right h1{
    color: white;
    font-family: Signika Negative;
    height: 40%;
    display: flex;
    align-items: end;
}
#about_me_top_right p{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
#about_me_xp{
    margin-right: 15px;
    color: #3f3f3f;
}
#about_me_top_left img{
    height: 100%;
}
#about_me_top_left{

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;;
    aspect-ratio: 1/1;
    background-color:rgba(0, 0, 0, 0.226);
    border-radius: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    
}
#about_info_left{
    padding: 10px;
    cursor: pointer;
    transition: all 0.24s ease-in-out;
}
#about_info_left:hover{
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
}
#about_info_left h2{
    font-size: 30px;
    color: white;
    font-weight: 300;
    font-family: Signika Negative;
}
#about_info_left p{
    color: rgb(199, 199, 199);
}
#about_info button img{
    height:25px
}
#about_info button:hover{
    opacity: 0.8;
    cursor: pointer;
}
#about_info button:hover{
        filter: brightness(1);
}
#about_info button{
    transition: all 0.2s ease-in-out;
    color: white;
    filter: brightness(40);
    opacity: 0.2;
    align-items: center;
    column-gap: 5px;
    justify-content: center;
    display: flex;
    font-size: 20px;
    padding:10px 30px 10px 30px;
    font-family: Signika Negative;
    border-radius: 7px;
    border: none;
    background-color: #53535300;
    height: fit-content;
    width: fit-content;
    outline: 1px solid rgba(255, 255, 255, 0.37);
}
#about_info{
    
    align-items: end;
    width:100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#level_part
{
    max-width: 600px;
    width:100%;
    height: 35px;
    border-radius:100px;
    background-color: rgb(17, 17, 17);
    overflow: hidden;
}
#level_part div{
    animation-name: level-animation;
    animation-duration: 1s;
    
    animation-delay: 0s;
    animation-iteration-count: 1;
    height: 100%;
    width: 0px;
    transition: all 1s ease-in-out;
    border-radius: 1000px;
    background: linear-gradient(0deg,#b4d10d,#bedd0c,#c9eb0d,#c9eb0d)
}
@keyframes level-animation{
    0%{
        opacity: 0.1;
     
    }
    
}
#pages_part{
    width:100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    gap: 5px;
}
#pages_part div img{
    height:4.5vw;
    max-height: 80px;
}
#pages_part div div {
    /* flex-grow: 1; */
    flex-direction: column;
    
    /* background-color: red; */
}
#pages_part div div h1{
   
    color: rgb(238, 238, 238);
    font-family: Signika Negative;
}
#pages_part div div p{
  
    width: 100%;
    color:rgb(126, 126, 126);
}
#upgrade_page p{
    color: #1E1E1E;
    font-weight:700;
}
#upgrade_page{
    color: #1E1E1E;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
 width:100%;
 height:40px;
 margin-top: 20px;
 border-radius: 6px;
 background-color: #AACE1C;
} 

#statistic_title{
    column-gap: 10px;
    display: flex;
    color: rgb(236, 236, 236);
    font-family: Signika Negative;
    margin-top: 10px;
    font-size: 20px;
  
}
#statistic_title img{
    height: 20px;
}
#statistics{
border-radius: 6px;
    gap: 5px;
    flex-wrap: wrap;
    display: flex;
    width:100%;
    box-sizing:border-box;
    background-color: rgba(0, 0, 0, 0.26);
    padding:10px
}
#statistics div p{
    text-align: center;
 width:fit-content;
 color: rgb(175, 175, 175);
}
#statistics div h2{
    color: rgb(223, 223, 223);
    font-family: Signika Negative;
    font-size: 19px;
   
}
#statistics div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:fit-content;
    min-width: 80px;
    
    background-color: rgba(0, 0, 0, 0.116);
    padding:10px;
    border-radius:5px ;
}
#campaign_page,#groups_page,#documents_page,#games_page{
background-color: rgba(20, 20, 20, 0.295);
border: 1px solid rgba(255, 255, 255, 0.062);
border-radius: 6px;
cursor: pointer;
}
#campaign_page:hover,#groups_page:hover,#documents_page:hover,#games_page:hover{
border: 1px solid rgba(141, 141, 141, 0.349);

}
#campaign_page:hover img,#groups_page:hover img,#documents_page:hover img,#games_page:hover img{

animation-name: pages-img-animation;
animation-fill-mode: forwards;
animation-duration: 0.5s;
animation-delay: 0s;
animation-iteration-count: 1;
}
@keyframes pages-img-animation {
    100%{
        transform: rotate(4deg);
    }
}
#campaign_page:hover img,#groups_page:hover img,#documents_page:hover img,#games_page:hover img{
filter: brightness(1.2);
}
#campaign_page:hover h1,#groups_page:hover h1,#documents_page:hover h1,#games_page:hover h1{
color: white;
text-shadow: 0px 0px 1px rgb(255, 255, 255);
}
#pages_part div{
column-gap: 20px;
display: flex;
align-items: center;
justify-content: center;
aspect-ratio: 5/2;
}
@media (min-width:1990px){
#pages_part div{
aspect-ratio: 3/1;

}
}
#upgrade_background_inactive{
    display: none;
}

#upgrade_background_active{
    position: absolute;
    display: flex;
    top:0;
}
#accept_solicitation_inactive{
    display: none;
}
#accept_solicitation_active{
    min-width:400px;
    animation-name: accept-solicitation-animation;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    border: 1px solid rgba(255, 255, 255, 0.062);
    box-shadow: 0px 0px 10px #0000002d;
    padding:10px;
    z-index: 20;
    position: fixed;
    bottom:30px;
    left:100px;
  
    background-color: rgb(21, 21, 22);
    border-radius: 10px;
}
@keyframes accept-solicitation-animation {
0%{
    opacity: 0;
    transform:scale(0.7);
}
}
#accept_solicitation_img{
    
    height:170px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;

}
#accept_solicitation_img img{
    height:100%;
}
#accept_solicitation_top{
    width:100%;
    font-family: Signika Negative;
    color: white;
    display: flex;
    justify-content: end;
}
#accept_solicitation_top button{
    display: flex;
    align-items: center;
    justify-content: center;
    height:24px;
    aspect-ratio: 1/1;
    padding:5px;
    color:rgba(255, 255, 255, 0.733);
    background-color: transparent;
    font-family: Signika Negative;
    border: 1px solid ;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#accept_solicitation_top button:hover{
       background-color: rgba(255, 255, 255, 0.514);
       color: #1E1E1E;
}
#accept_solicitation_middle{
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    font-family: Signika Negative;
    column-gap: 20px;
    display: flex;
    padding-bottom: 10px;;
    

    height:min-content;
    width:100%;
    border-bottom: 1px solid rgb(61, 61, 61);
}
#accept_solicitation_middle div{
    max-width: 500px;
}
#accept_solicitation_middle h4{
    font-size: 30px;
}
#accept_solicitation_bottom{
    width:100%;
    padding-top: 10px;
    justify-content: end;
    column-gap: 10px;
    display: flex;

}
#accept_solicitation_bottom button{
cursor: pointer;
  padding:8px 16px 8px 16px;
  font-size:15px;
  font-family: Signika Negative;
  border-radius: 7px;
  transition: all 0.17s ease-in-out;
cursor: pointer;
}
#accept_button{
    background-color: rgba(79, 120, 255, 0.822);
 color: rgb(255, 255, 255);
 border: none;
 outline: 1px solid rgba(127, 157, 255, 0.822);
}
#accept_button:hover{
   background-color: rgba(67, 102, 218, 0.822);
}
#refuse_button{
 background-color: rgba(255, 57, 57, 0.822);
 color: rgb(255, 255, 255);
 border: none;
 outline: 1px solid rgba(255, 98, 98, 0.822);
}
#refuse_button:hover{
background-color: rgba(219, 51, 51, 0.822);
}
#collection_background{
    overflow: hidden;
    width:100vw;
    height:100vh;
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;

}
#collection_bar{
    animation-name: collection_animation;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    
    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
    padding:10px 10px 20px 10px;
    width:50%;
    border: 1px solid rgba(255, 255, 255, 0.062);
    height:50%;
    background-color:#212225;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
}

@keyframes collection_animation {
    0%{
        opacity: 0;
       margin-top: 100vh;
       transform: scale(0.2);
    }
}
#collection_bar_top{
    display: flex;
    justify-content: space-between;
}
#collection_bar_top h1{
    color:rgb(231, 231, 231);
    font-family: Signika Negative;
}
#collection_bar_top button{
    cursor: pointer;
    width: 25px;
    height:25px;
    background-color:#111111;
    border: none;
    color: white;
    border-radius: 5px;
}
#collection_introduction{
    color: rgb(218, 218, 218);
}
#collection_introduction span{
    cursor: pointer;
    color: rgb(0, 152, 253);
    text-decoration: underline;
}
#collection_bar_bottom{
    
    padding: 10px;
    box-sizing: border-box;
    row-gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Mantém alinhado à esquerda */
    align-items: center;
    width:100%;
    height:100%;
    overflow-y:scroll;
    scrollbar-color: rgb(78, 78, 78) transparent ;
    border-radius: 10px;
background-color: #181818;}

#collection_bar_bottom_empty{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
background: linear-gradient(190deg,#181818,rgba(0, 0, 255, 0.048));
box-shadow: inset 0px 0px 15px rgb(19, 19, 19);
}

#collection_bar_bottom_empty img{
    width:25%;
    opacity: 0.5;
}
#collection_bar_bottom_empty button{

    margin-top: 30px;
    padding:10px;
    border-radius: 5px;
    border: 2px solid;
    color: rgb(0, 152, 253);
    background-color: transparent;
    cursor: pointer;
}
#collection_bar_bottom_empty button:hover{
    color: rgb(31, 31, 31);
    background-color: rgb(0, 152, 253);
}
#delete_collection_background{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    position: absolute;
}
#delete_collection_bar{
     padding:10px;
  border-radius: 15px;
  background-color: rgb(40, 40, 43);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.39);
}
#delete_collection_bar button{
    cursor: pointer;
  padding:8px 16px 8px 16px;
  font-size:15px;
  font-family: Signika Negative;
  border-radius: 7px;
  transition: all 0.17s ease-in-out;
cursor: pointer;
margin-top: 10px;
margin-left: 5px;
}
#delete_collection_confirm{

 background-color: rgba(255, 57, 57, 0.822);
 color: rgb(255, 255, 255);
 border: none;
 outline: 1px solid rgba(255, 98, 98, 0.822);
}
#delete_collection_cancel{
       background-color: rgba(0, 0, 0, 0.048);
 color: rgb(255, 255, 255);
 border: none;
 outline: 1px solid rgba(255, 255, 255, 0.055);
}
#delete_collection_confirm:hover{
 background-color: rgba(219, 51, 51, 0.822);
}
#delete_collection_cancel:hover{
  background-color:  rgba(255, 255, 255, 0.062);
}