#home_content{
    height:100vh;
    width:100vw;
    background-color: #1E1E1E;
    display: grid;
        grid-template-rows: 60px 1fr;
   
}

#home_content_principal{
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height:100vh;
    /* background-color: rgba(0, 251, 255, 0.192); */
}
#home_content_principal_all{
    justify-self:center;
    align-self: center;
    height:100%;
    width: min-content;
    display: flex;
    flex-direction:column ;

/*
    background-color: rgba(255, 0, 0, 0.192); */
}
#home_content_principal_user{

    column-gap: 20px;
    align-items: end;
width:100%;
height:25%;
display: flex;
/* background-color: rgba(255, 255, 0, 0.144); */
}
#home_content_principal_pages{
    /* background-color: rgba(255, 255, 255, 0.68); */
    margin-top: 20px;

display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 3fr 1fr;
gap:10px;

width:70vw;
max-width: 900px;

}


#home_content_principal_user_image{
   
       
    height:80%;
    aspect-ratio: 1/1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
}
#home_content_principal_user_image img{
    height: 100%;

}
#home_content_principal_user_name{

    display: flex;
   
    width:100%;
   
}
#home_content_principal_user_name p{
font-size:60px;
}
#home_content_principal_user_info{

    width:40%;
    height:70%;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   
}
#home_content_principal_user_info p{
color:white;
font-family: Signika Negative;
}

#home_content_principal_user_level{
    width:100%;
    height:30px;
    box-shadow: inset 0px 0px 10px black;
    background-color: rgb(19, 19, 19);
    border-radius: 50px;
    overflow: hidden;
}
#home_content_principal_user_level div{
    border-radius: 50px;
height:100%;
background:#AACE1C
}

#home_content_principal_pages img{
    z-index: 1;
      border-radius: 10px;
    cursor: pointer;
    height:100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.1s ease-in-out;
  
}
#home_content_principal_pages img:hover{

    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.486)
   
}
#campaign_button{
grid-row-start: 1;
grid-row-end: 3;
}
#upgrade_background_inactive{
    display: none;
}
#upgrade_background_active{
    position: absolute;
    display: flex;
    top:0;
}
#accept_solicitation_inactive{
    display: none;
}
#accept_solicitation_active{
    box-shadow: 0px 0px 20px #1E1E1E;
    padding:10px;
    z-index: 20;
    position: fixed;
    bottom:30px;
    left:100px;

    background-color: rgb(22, 22, 22);
    border-radius: 10px;
}
#accept_solicitation_img{
    
    height:170px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 100%;

}
#accept_solicitation_img img{
    height:100%;
}
#accept_solicitation_top{
    width:100%;
    font-family: Signika Negative;
    color: white;
    display: flex;
    justify-content: end;
}
#accept_solicitation_top button{
    display: flex;
    align-items: center;
    justify-content: center;
    height:24px;
    aspect-ratio: 1/1;
    padding:5px;
    color:rgba(255, 255, 255, 0.733);
    background-color: transparent;
    font-family: Signika Negative;
    border: 1px solid ;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#accept_solicitation_top button:hover{
       background-color: rgba(255, 255, 255, 0.514);
       color: #1E1E1E;
}
#accept_solicitation_middle{
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    font-family: Signika Negative;
    column-gap: 20px;
    display: flex;
    padding-bottom: 10px;;
    

    height:min-content;
    width:100%;
    border-bottom: 1px solid rgb(61, 61, 61);
}
#accept_solicitation_middle div{
    max-width: 500px;
}
#accept_solicitation_middle h4{
    font-size: 50px;
}
#accept_solicitation_bottom{
    width:100%;
    padding-top: 10px;
    justify-content: end;
    column-gap: 20px;
    display: flex;

}
#accept_solicitation_bottom button{
    padding:10px 20px 10px 20px;
    font-family: Silkscreen;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#accept_button{
    color: #AACE1C;
    border: 1px solid #AACE1C;
    border-radius: 10px;
    background-color: transparent;
}
#accept_button:hover{
    color: #1f1f1f;
     background-color: #AACE1C;
}
#refuse_button{
    color: #ce1c1c;
    border: 1px solid #ce1c1c;
    border-radius: 10px;
    background-color: transparent;
}
#refuse_button:hover{
     color: #1f1f1f;
     background-color: #ce1c1c;
}