#home_content{
    height:100vh;
    width:100vw;
    background-color: rgb(34, 34, 34);
  
   
}

#home_content_principal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;

}
#home_content_principal_all{
    height:100%;
    width: 70%;
    /* background-color: rgba(255, 0, 0, 0.192); */
}
#home_content_principal_user{
   
    column-gap: 20px;
    align-items: end;
width:100%;
height:25%;
display: flex;
/* background-color: rgba(255, 255, 0, 0.144); */
}
#home_content_principal_pages{
  
    margin-top: 20px;
    margin-left: 20px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 3fr 1fr;
gap:10px;

width:90%;
max-width: 900px;

}
#home_content_principal_pages img{
    border-radius: 10px;
    cursor: pointer;

}
#home_content_principal_pages img:hover{
    outline: 1px solid rgb(48, 48, 48);
  box-shadow: 0px 0px 10px rgb(97, 97, 97);
  filter:brightness(110%)
    
}
#home_content_principal_user_image{
    
        margin-left: 40px;
    height:80%;
    aspect-ratio: 1/1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
}
#home_content_principal_user_image img{
    height: 100%;

}
#home_content_principal_user_name{

    display: flex;
    
    width:100%;
   
}
#home_content_principal_user_name p{
font-size:60px;
}
#home_content_principal_user_info{

    width:40%;
    height:70%;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    
}
#home_content_principal_user_info p{
color:white;
font-family: Signika Negative;
}

#home_content_principal_user_level{
    width:100%;
    height:30px;
    background-color: rgb(22, 22, 22);
    border-radius: 50px;
    overflow: hidden;
}
#home_content_principal_user_level div{
height:100%;
background:linear-gradient(45deg,rgb(255, 238, 0),rgb(255, 187, 0))
}
#home_content_principal_pages div{
    
 background-color: rgba(255, 0, 0, 0);
}
#home_content_principal_pages img{
    height:100%;
    width: 100%;
}
#campaign_button{
grid-row-start: 1;
grid-row-end: 3;
}
#upgrade_background_inactive{
    display: none;
}
#upgrade_background_active{
    position: absolute;
    display: flex;
    top:0;
}