#home_content{
    height:100vh;
    width:100vw;
    background-color: rgb(34, 34, 34);
  
   
}

#home_content_principal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;

}
#home_content_principal_all{
    height:100%;
    width: 70%;
    background-color: red;
}
#home_content_principal_user{
width:100%;
height:25%;
background-color: yellow;
}
#home_content_principal_pages{
    width:100%;
height:40%;
background-color: rgb(30, 255, 0);
}
#home_content_principal_user_image{
    height:100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
}