
#home{
    min-width: 100vw;
    min-height: 100vh; 
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}
#home_content{
    height:100vh;
    width:100vw;
    background-color: #1E1E1E;
    display: grid;
        grid-template-rows: 60px 1fr;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

#home_content_principal{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
    width: 100%;
    
}
#home_content_principal_right{
   
    display: flex;
    align-items: center;
    justify-content: center;
    scrollbar-color: rgb(58, 58, 58) transparent;
    height:100%;
    width: 100%; 
    overflow-y:scroll ;
 
}

#home_content_left_part{
    height:100%;
    width:50%;
    max-width: 900px;

}
#home_content_right_part{
    display: flex;
    justify-content: center;
    align-items: baseline;
    height:100%;
    width:20%;
    max-width: 250px;
 
}
#home_content_right_part img{
    cursor: pointer;
    width: 80%;
    margin-top: 30px;
}
#about_me_top{
  
    column-gap: 25px;
    margin-top: 40px;
    display: flex;
    width:100%;
    height:14vw;
    max-height: 230px;
   
}
#about_me_top_right{
    
    flex-grow: 1;
    height: 100%;
}
#about_me_top_right h1{
    color: white;
    font-family: Signika Negative;
    height: 40%;
    display: flex;
    align-items: end;
}
#about_me_top_right p{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
#about_me_xp{
    margin-right: 15px;
    color: #3f3f3f;
}
#about_me_top_left img{
    height: 100%;
}
#about_me_top_left{

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;;
    aspect-ratio: 1/1;
    background-color:rgba(0, 0, 0, 0.226);
    border-radius: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.726);
    
}
#about_info_left{
    padding: 10px;
    cursor: pointer;
    transition: all 0.24s ease-in-out;
}
#about_info_left:hover{
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
}
#about_info_left h2{
    font-size: 30px;
    color: white;
    font-weight: 300;
    font-family: Signika Negative;
}
#about_info_left p{
    color: rgb(199, 199, 199);
}
#about_info button img{
    height:25px
}
#about_info button:hover{
    filter: invert(1.0) brightness(0.5);
    cursor: pointer;
}
#about_info button{
    align-items: center;
    column-gap: 5px;
    justify-content: center;
    display: flex;
    font-size: 20px;
    padding:10px 30px 10px 30px;
    font-family: Signika Negative;
    border-radius: 7px;
    border: none;
    background-color: #535353;
    height: fit-content;
    width: fit-content;
}
#about_info{
    align-items: end;
    width:100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#level_part
{
    max-width: 600px;
    width:100%;
    height: 35px;
    border-radius:100px;
    background-color: rgb(17, 17, 17);
    overflow: hidden;
}
#level_part div{
    height: 100%;
    border-radius: 1000px;
    background: linear-gradient(0deg,#b4d10d,#bedd0c,#c9eb0d,#c9eb0d)
}
#pages_part{
    width:100%;
    height: fit-content;
    
    display: grid;
   
    grid-template-columns: 1fr 1fr;
   
    margin-top: 10px;
    gap: 5px;
}
#pages_part div img{
    height:4.5vw;
    max-height: 80px;
}
#pages_part div div {
    /* flex-grow: 1; */
    flex-direction: column;
    
    /* background-color: red; */
}
#pages_part div div h1{
   
    color: rgb(238, 238, 238);
    font-family: Signika Negative;
}
#pages_part div div p{
  
    width: 100%;
    color:rgb(126, 126, 126);
}
#upgrade_page p{
    color: #1E1E1E;
    font-weight:700;
}
#upgrade_page{
    color: #1E1E1E;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
 width:100%;
 height:40px;
 margin-top: 20px;
 border-radius: 6px;
 background-color: rgb(137, 196, 0);
} 

#statistic_title{
    column-gap: 10px;
    display: flex;
    color: rgb(236, 236, 236);
    font-family: Signika Negative;
    margin-top: 10px;
    font-size: 20px;
  
}
#statistic_title img{
    height: 20px;
}
#statistics{
border-radius: 6px;
    gap: 5px;
    flex-wrap: wrap;
    display: flex;
    width:100%;
    box-sizing:border-box;
    background-color: rgba(0, 0, 0, 0.26);
    padding:10px
}
#statistics div p{
    text-align: center;
 width:fit-content;
 color: rgb(175, 175, 175);
}
#statistics div h2{
    color: rgb(223, 223, 223);
    font-family: Signika Negative;
    font-size: 19px;
   
}
#statistics div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:fit-content;
    min-width: 80px;
    
    background-color: rgba(0, 0, 0, 0.116);
    padding:10px;
    border-radius:5px ;
}
#campaign_page,#groups_page,#documents_page,#games_page{
background-color: rgba(0, 0, 0, 0.26);
border-radius: 6px;
cursor: pointer;
}
#campaign_page:hover,#groups_page:hover,#documents_page:hover,#games_page:hover{
outline: 2px solid rgb(141, 141, 141);
}
#pages_part div{
column-gap: 20px;
display: flex;
align-items: center;
justify-content: center;
aspect-ratio: 5/2;
}
@media (min-width:1990px){
#pages_part div{
aspect-ratio: 3/1;

}
}
#upgrade_background_inactive{
    display: none;
}

#upgrade_background_active{
    position: absolute;
    display: flex;
    top:0;
}
#accept_solicitation_inactive{
    display: none;
}
#accept_solicitation_active{
    box-shadow: 0px 0px 20px #1E1E1E;
    padding:10px;
    z-index: 20;
    position: fixed;
    bottom:30px;
    left:100px;

    background-color: rgb(22, 22, 22);
    border-radius: 10px;
}
#accept_solicitation_img{
    
    height:170px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 100%;

}
#accept_solicitation_img img{
    height:100%;
}
#accept_solicitation_top{
    width:100%;
    font-family: Signika Negative;
    color: white;
    display: flex;
    justify-content: end;
}
#accept_solicitation_top button{
    display: flex;
    align-items: center;
    justify-content: center;
    height:24px;
    aspect-ratio: 1/1;
    padding:5px;
    color:rgba(255, 255, 255, 0.733);
    background-color: transparent;
    font-family: Signika Negative;
    border: 1px solid ;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#accept_solicitation_top button:hover{
       background-color: rgba(255, 255, 255, 0.514);
       color: #1E1E1E;
}
#accept_solicitation_middle{
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    font-family: Signika Negative;
    column-gap: 20px;
    display: flex;
    padding-bottom: 10px;;
    

    height:min-content;
    width:100%;
    border-bottom: 1px solid rgb(61, 61, 61);
}
#accept_solicitation_middle div{
    max-width: 500px;
}
#accept_solicitation_middle h4{
    font-size: 50px;
}
#accept_solicitation_bottom{
    width:100%;
    padding-top: 10px;
    justify-content: end;
    column-gap: 20px;
    display: flex;

}
#accept_solicitation_bottom button{
    padding:10px 20px 10px 20px;
    font-family: Silkscreen;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#accept_button{
    color: #AACE1C;
    border: 1px solid #AACE1C;
    border-radius: 10px;
    background-color: transparent;
}
#accept_button:hover{
    color: #1f1f1f;
     background-color: #AACE1C;
}
#refuse_button{
    color: #ce1c1c;
    border: 1px solid #ce1c1c;
    border-radius: 10px;
    background-color: transparent;
}
#refuse_button:hover{
     color: #1f1f1f;
     background-color: #ce1c1c;
}
#collection_background{
    width:100vw;
    height:100vh;
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;

}
#collection_bar{
    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
    padding:10px 10px 20px 10px;
    width:70%;
    height:50%;
    background-color: #1E1E1E;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
}
#collection_bar_top{
    display: flex;
    justify-content: space-between;
}
#collection_bar_top h1{
    color:rgb(231, 231, 231);
    font-family: Signika Negative;
}
#collection_bar_top button{
    cursor: pointer;
    width: 25px;
    height:25px;
    background-color:#111111;
    border: none;
    color: white;
    border-radius: 5px;
}
#collection_introduction{
    color: rgb(218, 218, 218);
}
#collection_introduction span{
    cursor: pointer;
    color: rgb(0, 152, 253);
    text-decoration: underline;
}
#collection_bar_bottom{
    padding-top: 10px;
    row-gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Mantém alinhado à esquerda */
    align-items: flex-start;
    width:100%;
    height:100%;
    overflow-y:scroll;
    scrollbar-color: rgb(78, 78, 78) transparent ;
    border-radius: 10px;
background-color: #181818;}

#collection_bar_bottom_empty{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
background-color: #181818;}
#collection_bar_bottom_empty img{
    width:50%
}
#collection_bar_bottom_empty button{

    margin-top: 30px;
    padding:10px;
    border-radius: 5px;
    border: 2px solid;
    color: rgb(0, 152, 253);
    background-color: transparent;
    cursor: pointer;
}
#collection_bar_bottom_empty button:hover{
    color: rgb(31, 31, 31);
    background-color: rgb(0, 152, 253);
}
#delete_collection_background{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    position: absolute;
}
#delete_collection_bar{
     padding:10px;
  border-radius: 15px;
  background-color: rgb(48, 48, 48);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.39);
}
#delete_collection_bar button{
      margin-top: 10px;
  margin-left: 5px;
  padding:10px;
  background-color: transparent;
  border-radius: 5px;
  border:1px solid;
  cursor: pointer;
}
#delete_collection_confirm{
color: rgb(223, 0, 0);
}
#delete_collection_cancel{
    color: rgb(233, 233, 233);
}
#delete_collection_confirm:hover{
background-color: rgb(223, 0, 0);
color:#111111;
}
#delete_collection_cancel:hover{
    background-color: rgb(231, 231, 231);
color:#111111;
}