#games_principal {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(34, 34, 34);
}

#games_content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  min-height: 0;
}

#games_content_principal {
  height: 100%;
  min-height: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
}

#listGames {

  height: 100%;
  min-height: 0;
  width: 100%;
  overflow-y: auto;
  display:  grid;
grid-template-columns: 1fr;


}
@media (min-width:1500px){
    #listGames {
  height: 100%;
  min-height: 0;
  width: 100%;
  overflow-y: auto;
  display:  grid;
grid-template-columns: 1fr 1fr;
gap:2px;

}
}
