.notification_not_read {
    background-color: rgba(0, 217, 255, 0.048);
    outline: 1px solid rgba(0, 217, 255, 0.103);
    border-bottom: 3px solid rgba(0, 217, 255, 0.103);
}

.notification_not_read,.notification_read {
    overflow: hidden;
    width: 100%;
    height: 100px;
    border-radius: 0px 0px 10px 10px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    padding-bottom:10px;
}

.notification_read {
    background-color: rgba(255, 255, 255, 0.048);
    outline: 1px solid rgba(255, 255, 255, 0.103);
    border-bottom: 3px solid rgba(255, 255, 255, 0.103);
}
.notification_image_part{
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 100%;
    width: 100%;
}
.notification_image_part div{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
}
.notification_image_part div img{
    height: 100%;
}
.notification_text_part{
    grid-column: 2/4;
   padding: 2px;
   box-sizing: border-box;
    height: 100%;
    width: 100%;
    
}

.notification_button_part{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    grid-column:1/4;
}
.notification_button_part button{
    cursor: pointer;
    width: 60%;
    height: 80%;
    border: 1px solid;
 
    border-radius: 5px;
    font-family: Signika Negative;
    background-color: transparent;
}

.notification_not_read button{
   color:rgba(0, 204, 255, 0.288);
}
.notification_read button{
   color:rgb(126, 126, 126);
}
.notification_not_read button:hover{
   color:rgb(0, 49, 61);
   font-weight: 600;
   background-color: rgba(0, 204, 255, 0.39);
}
.notification_read button:hover{
  color:rgb(46, 46, 46);
   font-weight: 600;
   background-color: rgb(126, 126, 126);
}