.common_lesson,.common_lesson_blocked{
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
    display: flex;
    padding-block:10px;
    width:fit-content;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.199);
    font-family: Signika Negative;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-inline: 20px;
    cursor: pointer;
    background-color: rgb(26, 26, 26);
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.041);
 
}
.common_lesson:hover,.common_lesson_blocked:hover{
    box-shadow: none;
}
.common_lesson h1,.common_lesson img{
    font-weight: 400;
    
}

.common_lesson:hover{
 
    filter: saturate(2) brightness(1.3);
    background-color: rgba(0, 0, 0, 0.199);
}
.common_lesson:hover img{
    animation-name: common-img-animation;
animation-duration: 0.6s;
animation-delay: 0s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
@keyframes  common-img-animation{
    100%{
        transform: rotate(-10deg);
    }
    
}
.common_lesson:active{
    background-color: rgba(255, 255, 255, 0.027);
}
.common_lesson img{
    height:30px;


}
.common_lesson_blocked img{
height:30px;
}
.common_lesson_blocked img,.common_lesson_blocked h1{
    
     filter: grayscale(100%) brightness(0.6) invert(1);
}
.common_lesson_blocked:active{
    background-color: rgba(255, 255, 255, 0.027);
}
.common_lesson_blocked:hover img{
animation-name: common-blocked-img-animation;
animation-duration: 0.7s;
animation-delay: 0s;
animation-iteration-count: 1;
}
@keyframes  common-blocked-img-animation{
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(10deg);
    }
    
}