#enhanced_nav_top{
    font-family: leelawadee;
background-color: rgb(19, 19, 19);
width:100%;
border-radius: 00px 00px 20px 20px;

display: grid;
grid-template-columns: 1fr 5fr;
color: white;

}

#background_update_inactive{
    display: none;
}
#background_options_inactive{
    display: none;
}
#background_update_active{
    z-index: 3;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
     background-color: rgba(20, 20, 20, 0.637);
    top:0;
    position: fixed;
    width:100vw;
    height:100vh;
   
}
#background_options_active{
    background-color: rgba(0, 0, 0, 0);
    top:0;
    position: fixed;
    width:100vw;
    height:100vh;
   
}
#options_nav_top{
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
position: absolute;
top:70px;
right:10px;
border-radius: 5px;
display: flex;
flex-direction: column;
background:linear-gradient(90deg,rgb(58, 58, 58), #aace1ca1,rgb(58, 58, 58));
row-gap: 1px;
overflow: hidden;
}
#options_nav_top button{
    padding:15px 25px 15px 25px;
    border: none;
    background: rgb(58, 58, 58);
    font-size: 15px;
    color: white;
    font-family: Signika negative;
    cursor: pointer;
}

#options_nav_top button:hover{
 background: linear-gradient(90deg,rgb(46, 46, 46),rgb(34, 34, 34),rgb(46, 46, 46));
}

#bar_update{

    /* max-height: 800px; */
    max-width: 1000px;
    width:70vw;
    background:linear-gradient(30deg, rgb(48, 48, 48),rgb(31, 31, 31));
    gap:1px;
    padding-inline: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9fr 1fr;
}
#bar_decoration_update{
    margin-top :50px;;
    max-width: 1000px;
    display: flex;
    justify-content: end;
    padding:15px;
    width:70vw;
    border-radius:10px 10px 00px 0px;
    background-color: #AACE1C;
}
#bar_decoration_update button{
    cursor: pointer;
    background-color: rgb(44, 44, 44);
    border: none;
    border-radius: 5px;
    height:30px;
    width:30px;
    color: white;
}
.bar_update_part{
 
    row-gap: 30px;
 /* background-color: rgba(255, 230, 0, 0.192); */
    align-items: center;
    display: flex;
    align-content:center;
    justify-content: center;
    flex-direction: column;

}
#bar_update_part_bottom{
    /* background-color: rgba(255, 0, 0, 0.192); */
grid-column: 1/3;

display: flex;
flex-direction: row;
justify-content: end;
align-items: center;
column-gap: 20px;

}
#bar_update_part_bottom button{
    cursor: pointer;
    padding:8px;
    font-size:20px;
    background-color: transparent;
    font-family: Silkscreen;
    color:rgb(230, 230, 230);
}
#bar_update_part_bottom button:hover{
   color:white;
}
#btn_cancel{
    border:transparent;
}
#btn_apply{
    border:2px solid rgb(230, 230, 230);
    border-radius: 10px;
}
#bar_update_part_title{
    margin-top: 10px;
    justify-content: center;
    column-gap: 20px;
    /* background-color: green; */
    align-items: center;
    display: flex;
    width: 100%;
    height:20%
}
#bar_update_part_title img{
    height:5vw;
    max-height: 80px;
    min-height: 20px;
}
#bar_update_part_image{
    background-color: rgb(32, 32, 32);
    row-gap: 20px;
    width:80%;
    padding-block: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#nav_top_user_img{
 height:3vh;
 display: flex;
 align-items: center;
 justify-content: center;
border-radius: 100%;
overflow: hidden;
aspect-ratio: 1/1;
background-color: red;
}
#nav_top_user_img img{
    height:3vh;
}
#bar_update_part_image img{
   border-radius: 100%;
    aspect-ratio: 1/1;
   width:50%;
}
#bar_update_part_image button{
    background-color: transparent;
   width:70%;
   padding-block: 10px;
   border: 2px solid;
   color:rgb(255, 255, 255);
   font-family: Silkscreen;
   border-radius: 10px;
   font-size: 15px;
   cursor: pointer;
   transition:all 0.1s ease-in-out;
}
#bar_update_part_image button:hover{
    background-color:rgb(255, 255, 255);
    color:  rgb(48, 48, 48);
    
}
.bar_update_part_inputs{
    flex-direction: column;
    display: flex;
    /* background-color: red; */
    width:80%;
}

.bar_update_part_inputs input[type="text"],.bar_update_part_inputs input[type="password"],.bar_update_part_inputs input[type="date"] ,.bar_update_part_inputs select {
     color:white;
    font-size: 20px;
    padding:10px;
    background:rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    width:90%
}
.bar_update_part_inputs input[type="text"]:focus,.bar_update_part_inputs input[type="password"]:focus , .bar_update_part_inputs input[type="date"]:focus{
    outline: 2px solid #AACE1C;
    border: transparent;
    background-color: rgb(41, 41, 41);
    box-shadow: transparent;
}

.blocked_input{
    cursor: not-allowed;

}

#bar_update_alert_account_type{
    background-color: rgba(255, 0, 0, 0.103);
    color: rgba(255, 0, 0, 0.562);
    padding:10px;
    border:1px solid;
    border-radius: 5px;
}

#bar_update_part_inputs_inactive{
    display: none;
}
#bar_update_part_inputs_active{
    display: flex;
}

#bar_update_part_image input[type="file"]{
    display: none;
}

#enhanced_nav_top_principal{
    display: flex;
   height:100%;
   justify-content: space-between;
}
#kangal_part{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}
#kangal_part img{
    width:80%;
    max-width: 220px;
}
#page_part{


    column-gap: 10px;

    width: min-content;
    height:100%;
    display: flex;
    align-items: center;

}
#page_part img{

     height:50px
}
#page_part p{
    font-size: 25px;
    font-family: Signika Negative;
}
#left_part{
    margin-left: 30px;
    column-gap: 20px;
 
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 30%;
    height:100%;

}
#left_part img{
     min-height: 30px;
    max-height: 30px;
     height:2vw;
}
#right_part{
    margin-right: 30px;
    display: flex;

    column-gap: 20px;
    height:100%;
    align-items: center;
}

#nav_top_icon_buttons img{
min-height: 30px;
    max-height: 30px;
     height:2vw;
}
#nav_top_icon_buttons{
    height:100%;
    column-gap: 20px;
}


#right_part div{
 
    display: flex;
    align-items: center;
}
#right_part p{
    font-size: 30px;
}

#nav_top_user_img{

    min-height: 40px;
     max-height: 40px;
}
#nav_top_user_img img{
    height: 100%;
}
#user_part{
    cursor: pointer;
     column-gap: 10px;
}
#user_part:hover{
    text-shadow: 0px 0px 5px rgba(255, 250, 250, 0.692);
}
.nav_top_icons{
    cursor: pointer;
    transition: all 0.09s ease-in-out;
}
.nav_top_icons:hover{
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.596));
}