#enhanced_nav_top{
    font-family: leelawadee;
background-color: rgb(19, 19, 19);
width:100%;
border-radius: 00px 00px 20px 20px;

display: grid;
grid-template-columns: 1fr 5fr;
color: white;

}

#background_update_inactive{
    display: none;
}
#background_options_inactive{
    display: none;
}
#background_update_active{
    z-index: 100;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    position: fixed;
    width:100vw;
    height:100vh;
    animation-name: bar-update-animation;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
#background_options_active{
    background-color: rgba(0, 0, 0, 0);
    top:0;
    position: fixed;
    width:100vw;
    height:100vh;
   z-index: 1000;
}
#options_nav_top{
    z-index: 1000;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
position: absolute;
top:70px;
right:10px;
border-radius: 5px;
display: flex;
flex-direction: column;
background:linear-gradient(90deg,rgb(58, 58, 58), #aace1ca1,rgb(58, 58, 58));
row-gap: 1px;
overflow: hidden;
}
#options_nav_top button{
    padding:15px 25px 15px 25px;
    border: none;
    background: rgb(49, 49, 54);
    font-size: 15px;
    color: white;
    font-family: Signika negative;
    cursor: pointer;
}

#options_nav_top button:hover{
 background: linear-gradient(90deg,rgb(46, 46, 46),rgb(34, 34, 34),rgb(46, 46, 46));
}

#bar_update{
   
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
    /* max-height: 800px; */
    max-width: 700px;
    width:50vw;
    background:rgb(36, 37, 41);
    gap:1px;
    padding-inline: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9fr 1fr;
    border-radius: 0px 0px 10px 10px;
}
@keyframes bar-update-animation {
    0%{
        opacity: 0;
        transform: scale(0.4);
    }
    
}
#bar_decoration_update{

    max-width: 700px;
    display: flex;
    justify-content: end;
    padding:10px 15px 10px 15px;
    width:50vw;
    border-radius:10px 10px 00px 0px;
    background-color: #151518;
}
#bar_decoration_update button{
    cursor: pointer;
    background-color: rgb(15, 15, 15);
    border: none;
    border-radius: 5px;
    height:30px;
    width:30px;
    color: white;
}
.bar_update_part{
 
    row-gap: 30px;
 /* background-color: rgba(255, 230, 0, 0.192); */
    align-items: center;
    display: flex;
    align-content:center;
    justify-content: center;
    flex-direction: column;

}
#bar_update_part_bottom{
    /* background-color: rgba(255, 0, 0, 0.192); */
grid-column: 1/3;

display: flex;
flex-direction: row;
justify-content: end;
align-items: center;
column-gap: 20px;

}
#bar_update_part_bottom button{
cursor: pointer;
  padding:8px 16px 8px 16px;
  font-size:15px;
  font-family: Signika Negative;
  border-radius: 7px;
  transition: all 0.17s ease-in-out;
cursor: pointer;
}

#btn_cancel{
       background-color: rgba(0, 0, 0, 0.048);
 color: rgb(255, 255, 255);
 border: none;
 outline: 1px solid rgba(255, 255, 255, 0.055);
}
#btn_cancel:hover{
     background-color:  rgba(255, 255, 255, 0.062);
}
#btn_apply{
     background-color: rgba(79, 120, 255, 0.822);
 color: rgb(255, 255, 255);
 border: none;
 outline: 1px solid rgba(127, 157, 255, 0.822);
}
#btn_apply:hover{
   background-color: rgba(67, 102, 218, 0.822);
}
#bar_update_part_title{
    margin-top: 10px;
    justify-content: start;
    column-gap: 20px;
    /* background-color: green; */
    align-items: center;
    display: flex;
    width: 100%;
    height:20%
}
#bar_update_part_title img{
    height:5vw;
    max-height: 80px;
    min-height: 20px;
}
#bar_update_part_image{
    background-color: rgb(30, 31, 34);
    row-gap: 20px;
    width:80%;
    padding-block: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#nav_top_user_img{

 height:3vh;
 display: flex;
 align-items: center;
 justify-content: center;
border-radius: 100%;
overflow: hidden;
aspect-ratio: 1/1;
background-color: rgba(0, 0, 0, 0.178);
box-shadow: 0px 0px 5px black;
}
#nav_top_user_img img{
    height:3vh;
}
#bar_update_part_image img{
   border-radius: 100%;
    aspect-ratio: 1/1;
   width:50%;
}
#bar_update_part_image button{
    cursor: pointer;
  padding:8px 16px 8px 16px;
  font-size:15px;
  font-family: Signika Negative;
  border-radius: 7px;
  transition: all 0.17s ease-in-out;
cursor: pointer;
    background-color: rgba(0, 0, 0, 0.048);
 color: rgb(255, 255, 255);
 border: none;
 outline: 1px solid rgba(255, 255, 255, 0.055);
}
#bar_update_part_image button:hover{
    background-color:rgb(255, 255, 255);
    color:  rgb(48, 48, 48);
    
}
.bar_update_part_inputs{
    flex-direction: column;
    display: flex;
    /* background-color: red; */
    width:80%;
}

.bar_update_part_inputs input[type="text"],.bar_update_part_inputs input[type="password"],.bar_update_part_inputs input[type="date"] ,.bar_update_part_inputs select {
     color:white;
    font-size: 20px;
    padding:10px;
    background:rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    width:90%
}
.bar_update_part_inputs input[type="text"]:focus,.bar_update_part_inputs input[type="password"]:focus , .bar_update_part_inputs input[type="date"]:focus{
    outline: 2px solid #AACE1C;
    border: transparent;
    background-color: rgb(41, 41, 41);
    box-shadow: transparent;
}

.blocked_input{
    cursor: not-allowed;

}

#bar_update_alert_account_type{
    background-color: rgba(255, 0, 0, 0.041);
    color: rgba(255, 44, 44, 0.671);
    padding:10px;
    border:1px solid;
    border-radius: 5px;
}

#bar_update_part_inputs_inactive{
    display: none;
}
#bar_update_part_inputs_active{
    display: flex;
}

#bar_update_part_image input[type="file"]{
    display: none;
}

#enhanced_nav_top_principal{
  
    display: flex;
   height:100%;
   justify-content: space-between;
}
#kangal_part{

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}
#kangal_part img{

    width:80%;
    max-width: 220px;
}
#page_part{

   
    column-gap: 10px;
    
    width: fit-content;
    height:100%;
    display: flex;
    align-items: center;

}
#page_part img{

     height:50px
}
#page_part p{
    font-size: 25px;
    font-family: Signika Negative;
}
#left_part{
    
    margin-left: 30px;
    column-gap: 20px;

    align-items: center;
    justify-content: space-between;
    display: flex;
    width: auto;
    
    height:100%;

}
#left_part img{

     min-height: 30px;
    max-height: 30px;
     height:2vw;
}
#right_part{
  
    margin-right: 30px;
    display: flex;

    column-gap: 20px;
    height:100%;
    align-items: center;
}

#nav_top_icon_buttons img{
   
min-height: 22px;
    height: 22px;
     
}
#nav_top_icon_buttons{
    height:100%;
    column-gap: 20px;
}


#right_part div{
 
    display: flex;
    align-items: center;
}
#right_part p{
    font-size: 30px;
}

#nav_top_user_img{

    min-height: 40px;
     max-height: 40px;
}
#nav_top_user_img img{
    height: 100%;
}
#user_part{
    cursor: pointer;
     column-gap: 10px;
}
#user_part:hover{
    text-shadow: 0px 0px 5px rgba(255, 250, 250, 0.692);
}
.nav_top_icons{

    cursor: pointer;
    transition: all 0.09s ease-in-out;
}
.nav_top_icons:hover{
    /* filter:invert(1); */
    
    filter: drop-shadow(0px 0px 6px rgba(228, 228, 228, 0.596));
    transform: scale(1.06);
}
#notification_background{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}
#notification_bar{
     border: 1px solid rgba(255, 255, 255, 0.062);
    animation-name: notification_animation;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    z-index: 10;
    display: flex;
    flex-direction: column;
   padding:10px;
  border-radius: 15px;
 background-color:#212225;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.39);
  width: 50%;
  min-width: 60px;
  max-width: 700px;
  aspect-ratio: 2/1;
}
@keyframes notification_animation {
    0%{
        opacity: 0;
       margin-top: -100vh;
       transform: scale(0.2);
    }
}
#notification_bar_top{
    display: flex;
    justify-content: space-between;

}
#notification_bar_top button{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(19, 19, 19);
    cursor: pointer;
}
#notification_bar_bottom{
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    flex-grow:1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(24, 24, 24, 0.397);
    column-gap: 3px;
}
#notification_list_not_read,#notification_list_read{
    row-gap: 10px;
    scrollbar-color: rgb(43, 43, 43) transparent;
    scrollbar-width:thin;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    max-height: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(24, 24, 24);
}
#notification_list_not_read h2{
    
    border-radius: 10px 0px 0px 0px;
    background-color: rgb(0, 195, 255);
    font-family: Signika Negative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#notification_list_read h2{
    border-radius: 0px 10px 0px 0px;
    background-color: rgba(255, 255, 255, 0.164);
    font-family: Signika Negative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#notification_message{

   cursor: pointer;
    opacity: 0.9;
    font-size: 10px;
    overflow: hidden;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 10px;
  
   
}

#bell{
    animation-iteration-count: infinite;
     animation-name: bell_animation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
}
@keyframes bell_animation{
    0%{

    }
    50%{
   
        height: 34px;
    }
    100%{
         height: 30px;
         filter: drop-shadow(0px 0px 5px rgb(145, 223, 0));
    }
}
#empty_notification{
    background-color: rgb(22, 22, 22);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
}

#empty_notification img{
    width: 30%;;
    opacity: 0.4;
}
#empty_notification_note{
    color: rgb(83, 83, 83);
}