#enhanced_nav_top{
    font-family: leelawadee;
background-color: rgba(192, 68, 68, 0);
width:100%;
align-items: center;
border-bottom: 1px solid #AACE1C;
display: flex;
justify-content: space-between;
color: white;

}

#left_side{
    column-gap: 40px;
    display: flex;
    align-items: center;

}
#kangal_part{
    width:20vw;
    background-color: #AACE1C;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 7px;
    max-width: 400px;
    max-height: 70px;
}   
#kangal_part img{
    width:80%;
}
#page_part{
   
    column-gap: 10px;   
    align-items: center;

    display: flex;
}
#page_part img{
    /* min-height: 30px;
    max-height: 60px; */
    height:3.5vh
}

#page_part p{
    font-weight: bold;
    font-size: 30px;
}

#home_part{
  margin-left: 2vw;
}

.nav_top_icons{
cursor: pointer;
height:2.3vw;
max-height: 40px;
min-height: 20px;
padding:5px
}

.nav_top_icons:hover{
     transition: all 0.2s ease-in-out;
    filter: drop-shadow(0px 0px 1px rgb(245, 245, 245));
}
#right_side{
   display: flex;
   column-gap: 50px;
    margin-right: 20px;
    align-items: center;
    font-size: 30px;
}

#right_side div{
    column-gap: 10px;
    display: flex;
    align-items: center;

  
    transition: all 0.5 ease-in-out;
}

#right_side div:hover{

    cursor: pointer;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.733);
}

#background_update_inactive{
    display: none;
}
#background_options_inactive{
    display: none;
}
#background_update_active{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
     background-color: rgba(20, 20, 20, 0.637);
    top:0;
    position: fixed;
    width:100vw;
    height:100vh;
   
}
#background_options_active{
    background-color: rgba(0, 0, 0, 0);
    top:0;
    position: fixed;
    width:100vw;
    height:100vh;
   
}
#options_nav_top{
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
position: absolute;
top:70px;
right:10px;
border-radius: 5px;
display: flex;
flex-direction: column;
background:linear-gradient(90deg,rgb(58, 58, 58), #aace1ca1,rgb(58, 58, 58));
row-gap: 1px;
overflow: hidden;
}
#options_nav_top button{
    padding:15px 25px 15px 25px;
    border: none;
    background: rgb(58, 58, 58);
    font-size: 15px;
    color: white;
    font-family: Signika negative;
    cursor: pointer;
}

#options_nav_top button:hover{
 background: linear-gradient(90deg,rgb(46, 46, 46),rgb(34, 34, 34),rgb(46, 46, 46));
}

#bar_update{
    /* max-height: 800px; */
    max-width: 1000px;
    width:70vw;
    background:linear-gradient(30deg, rgb(48, 48, 48),rgb(31, 31, 31));
    gap:1px;
    padding-inline: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9fr 1fr;
}
#bar_decoration_update{
    margin-top :50px;;
    max-width: 1000px;
    display: flex;
    justify-content: end;
    padding:15px;
    width:70vw;
    border-radius:10px 10px 00px 0px;
    background-color: #AACE1C;
}
#bar_decoration_update button{
    cursor: pointer;
    background-color: rgb(44, 44, 44);
    border: none;
    border-radius: 5px;
    height:30px;
    width:30px;
    color: white;
}
.bar_update_part{
 
    row-gap: 30px;
 /* background-color: rgba(255, 230, 0, 0.192); */
    align-items: center;
    display: flex;
    align-content:center;
    justify-content: center;
    flex-direction: column;

}
#bar_update_part_bottom{
    /* background-color: rgba(255, 0, 0, 0.192); */
grid-column: 1/3;

display: flex;
flex-direction: row;
justify-content: end;
align-items: center;
column-gap: 20px;

}
#bar_update_part_bottom button{
    cursor: pointer;
    padding:8px;
    font-size:20px;
    background-color: transparent;
    font-family: Silkscreen;
    color:rgb(230, 230, 230);
}
#bar_update_part_bottom button:hover{
   color:white;
}
#btn_cancel{
    border:transparent;
}
#btn_apply{
    border:2px solid rgb(230, 230, 230);
    border-radius: 10px;
}
#bar_update_part_title{
    margin-top: 10px;
    justify-content: center;
    column-gap: 20px;
    /* background-color: green; */
    align-items: center;
    display: flex;
    width: 100%;
    height:20%
}
#bar_update_part_title img{
    height:5vw;
    max-height: 80px;
    min-height: 20px;
}
#bar_update_part_image{
    background-color: rgb(32, 32, 32);
    row-gap: 20px;
    width:80%;
    padding-block: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#nav_top_user_img{
 height:3vh;
 display: flex;
 align-items: center;
 justify-content: center;
border-radius: 100%;
overflow: hidden;
aspect-ratio: 1/1;
background-color: red;
}
#nav_top_user_img img{
    height:3vh;
}
#bar_update_part_image img{
   border-radius: 100%;
    aspect-ratio: 1/1;
   width:50%;
}
#bar_update_part_image button{
    background-color: transparent;
   width:70%;
   padding-block: 10px;
   border: 2px solid;
   color:rgb(255, 255, 255);
   font-family: Silkscreen;
   border-radius: 10px;
   font-size: 15px;
   cursor: pointer;
   transition:all 0.1s ease-in-out;
}
#bar_update_part_image button:hover{
    background-color:rgb(255, 255, 255);
    color:  rgb(48, 48, 48);
    
}
.bar_update_part_inputs{
    flex-direction: column;
    display: flex;
    /* background-color: red; */
    width:80%;
}

.bar_update_part_inputs input[type="text"],.bar_update_part_inputs input[type="password"],.bar_update_part_inputs input[type="date"] ,.bar_update_part_inputs select {
     color:white;
    font-size: 20px;
    padding:10px;
    background:rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    width:90%
}
.bar_update_part_inputs input[type="text"]:focus,.bar_update_part_inputs input[type="password"]:focus , .bar_update_part_inputs input[type="date"]:focus{
    outline: 2px solid #AACE1C;
    border: transparent;
    background-color: rgb(41, 41, 41);
    box-shadow: transparent;
}

.blocked_input{
    cursor: not-allowed;

}

#bar_update_alert_account_type{
    background-color: rgba(255, 0, 0, 0.103);
    color: rgba(255, 0, 0, 0.562);
    padding:10px;
    border:1px solid;
    border-radius: 5px;
}

#bar_update_part_inputs_inactive{
    display: none;
}
#bar_update_part_inputs_active{
    display: flex;
}

#bar_update_part_image input[type="file"]{
    display: none;
}
@media (min-resolution: 1.5dppx) {
    #bar_update{
     background: rgba(255, 230, 0, 0.192);
    }
}