#documents_principal {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(34, 34, 34);
}

#documents_content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  min-height: 0;
}
#documents_content_principal {
  grid-template-columns: 3fr 1fr;
  
  background-color: rgba(255, 0, 0, 0);
  height: 100%;
  min-height: 0;
  width: 100%;
  overflow: hidden;
  display: grid;
}
@media (min-width:1500px){
     #documents_content_principal{
   grid-template-columns: 13fr 2fr;
}
}
#documents_content_empty{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  min-height: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
}
#documents_content_empty img{
  height:50%;
}

#about_document_empty{
  height: 100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 0, 255, 0);
}
#about_document_empty img{
  height:40%;
}
#list_documents{
  padding:10px;
  background-color: #2F2F2F;
  display: grid;
  grid-template-rows: 1fr 13fr;

}
#documents1{
  scrollbar-color: rgb(85, 85, 85) transparent;
  background-color:rgba(255, 0, 0, 0) ;
  overflow: auto;
  display: flex;
  flex-direction: column;
  
  max-width: 100%;
  max-height: 80vh;
}
#list_documents_title{
  background-color: rgba(65, 216, 65, 0);
  align-self: self-end;
}
#about_document{

  padding:30px
}
#about_document p{
  max-width: 1200px;
}
#about_document h1{
  color: white;
  font-family: Signika Negative;
}
#about_document_code_title{
  margin-top: 20px;
}
#about_document_codes_part{
  
  display: grid;
  width:100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  max-width:1200px;
}
.about_document_code_part{

  display: flex;  
  height:200px;
  width: 100%;
  
}
.about_document_code_decoration{
  width:4px;
  background-color: aqua;
  border-radius: 20px;
}
.about_document_code_content{
  height:100%;
  width:97%;
  background-color: rgb(24, 24, 24);
}
.about_document_code_principal{
  height:100%;
  width:97%;
background-color: rgb(24, 24, 24);
  overflow: hidden;
}
.pre{
color: rgb(212, 212, 212);
  padding:5px;
  width:12px;

}
.about_document_code_blur{
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  height:60px;
  margin-top: -60px;
  width:100%;
  background:linear-gradient(0deg,rgb(24, 24, 24),rgba(0, 0, 255, 0))
}
.about_document_code_blur button{
  color: aqua;
  cursor: pointer;
  margin-right: 10px;
  padding:5px;
  border-radius: 7px;
  border: 1px solid;
  background-color: transparent;

}

.about_document_code_blur button:hover{
  color: #2F2F2F;
  background-color: aqua;
}
#description2{
  margin-top: 40px;
}

#note{
  max-width: 1200px;
  font-family: Signika Negative;
  padding:10px;
  color: bisque;
  border: 1px solid;
  background-color: rgba(255, 228, 196, 0.205);
  margin-top: 10px;
  border-radius: 10px;
  
}
#note h2{
  font-family: Signika Negative;
}
#note p{
    color: #ffe4c4;
}
#note_title {
  display: flex;
}
#note_title img{
  height: 30px;
}
#code_to_copy_background{
  height: 100vh;
  width: 100vw;
 
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0;
}
#code_to_copy_bar{
  max-width: 1000px;
  height: min-content;
   width:50%;
  padding:10px;
  background-color: #2F2F2F;
  border-radius: 10px;
}
#code_to_copy_bar pre{
  scrollbar-color: rgb(75, 75, 75) transparent;
  max-height: 70vh;
width: 100%;
   overflow:auto;
  margin-top: 5px;
  color: white;
  padding:5px;
  background-color: #181818;
}
#code_to_copy_title{
  justify-content: space-between;
  display: flex;
}
#code_to_copy_title button{
  cursor: pointer;
  height:25px;
  border-radius: 5px;
  background-color: #181818;
  color: white;
  border: none;
  aspect-ratio: 1/1;
}
#code_to_copy_button{
  cursor: pointer;
  margin-top: 10px;
  padding:5px;
  color: aqua;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
}
#code_to_copy_button:hover{
  background-color: aqua;
  color: #181818;
}