#documents_principal {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
   background: linear-gradient(0deg,rgb(22, 22, 24),rgb(31, 32, 34));
}

#documents_content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  min-height: 0;
}
#documents_content_principal {
  grid-template-columns: 3fr 1fr;

  
  height: 100%;
  min-height: 0;
  width: 100%;
  overflow: hidden;
  display: grid;
}
@media (min-width:1500px){
     #documents_content_principal{
   grid-template-columns: 13fr 2fr;
}
}
#documents_content_empty{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  min-height: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
}
#documents_content_empty p{
  color: rgb(61, 61, 61);
  font-size: 25px;
}
#documents_content_empty img{
  opacity: 0.3;
  height:50%;

}

#about_document_empty{ 
  flex-direction: column;
  height: 100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 0, 255, 0);
}
#about_document_empty p{
  font-size: 25px;
  color: rgb(66, 66, 66);
}
#about_document_empty img{
  height:40%;
  opacity: 0.3;
}
#list_documents{
  padding:10px;
   background: rgb(36, 36, 39);
  display: grid;
  grid-template-rows: 1fr 13fr;

}
#documents1{
  scrollbar-color: rgb(85, 85, 85) transparent;
  overflow: auto;
  display: flex;
  flex-direction: column;
  
  max-width: 100%;
  max-height: 80vh;
}
#list_documents_title{
  background-color: rgba(65, 216, 65, 0);
  align-self: self-end;
}
#about_document{
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(56, 52, 52) rgba(255, 0, 0, 0);
  padding:30px
}
#about_document p{
  max-width: 1200px;
}
#about_document h1{
  color: white;
  font-family: Signika Negative;
}
#about_document_code_title{
  margin-top: 20px;
}
#about_document_codes_part{
  
  display: grid;
  width:100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  max-width:1200px;
}
.about_document_code_part{

  display: flex;  
  height:200px;
  width: 100%;
  
}
.about_document_code_decoration{
  width:4px;
  background-color: aqua;
  border-radius: 20px;
}
.about_document_code_content{
  height:100%;
  width:97%;
  background-color: rgb(24, 24, 24);
}
.about_document_code_principal{
  height:100%;
  width:97%;
background-color: rgb(24, 24, 24);
  overflow: hidden;
}
.pre{
color: rgb(212, 212, 212);
  padding:5px;
  width:12px;

}
.about_document_code_blur{
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  height:60px;
  margin-top: -60px;
  width:100%;
  background:linear-gradient(0deg,rgb(24, 24, 24),rgba(0, 0, 255, 0))
}
.about_document_code_blur button{
  color: aqua;
  cursor: pointer;
  margin-right: 10px;
  padding:5px;
  border-radius: 7px;
  border: 1px solid;
  background-color: transparent;

}

.about_document_code_blur button:hover{
  color: #2F2F2F;
  background-color: aqua;
}
#document_description1{
  text-align: justify;
}
#document_description2{
  margin-top: 20px;
 text-align: justify;
}

#note{
  max-width: 1200px;
  font-family: Signika Negative;
  padding:10px;
  color: #7c7c7c;

  box-shadow: inset 0px 0px 20px rgb(23, 23, 23);
  background-color: rgb(27, 27, 27);
  margin-top: 10px;
  border-radius: 10px;
  
}
#note h2{
  font-family: Signika Negative;
}
#note p{
    color: #7c7c7c;
}
#note_title {
  display: flex;
}
#note_title img{
  height: 30px;
}
#code_to_copy_background{
  height: 100vh;
  width: 100vw;
 
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0;
  overflow: hidden;
}
#code_to_copy_bar{
  animation-name:code-to-copy-animation;
  animation-duration: 0.4s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  max-width: 1000px;
  height: min-content;
   width:50%;
  padding:10px;
  background-color: #262629;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
}
@keyframes code-to-copy-animation{
  0%{
    opacity: 0;
       margin-top: 100vh;
       transform: scale(0.2);
  }
}
#code_to_copy_bar pre{
  scrollbar-color: rgb(75, 75, 75) transparent;
  max-height: 70vh;
width: 100%;
   overflow:auto;
  margin-top: 5px;
  color: white;
  padding:5px;
  background-color: #181818;
}
#code_to_copy_title{
  justify-content: space-between;
  display: flex;
}
#code_to_copy_title button{
  cursor: pointer;
  height:25px;
  border-radius: 5px;
  background-color: #181818;
  color: white;
  border: none;
  aspect-ratio: 1/1;
}
#code_to_copy_button{
  cursor: pointer;
  margin-top: 10px;
  padding:5px;
  color: aqua;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
}
#code_to_copy_button:hover{
  background-color: aqua;
  color: #181818;
}
#collection_part{
  width:100%;
  display: flex;
  justify-content: end;

}
#collection_part button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 6px;
  opacity: 0.4;
  column-gap: 5px;
  color:white;
  border: 1px solid rgba(255, 255, 255, 0.144);
  background-color: #0000003b;
  cursor: pointer;
  
}
#collection_part button:hover{
  opacity: 0.9;
}
#collection_part button img{
  height:25px;
  width: 25px;
  filter: brightness(40);
}
#create_collection_background{
  width:100vw;
  height:100vh;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#create_collection_bar h1{
  color: rgb(241, 241, 241);
  font-family: Signika Negative;
}
#create_collection_bar{
  animation-name: create-collection-animation;
  animation-delay: 0s;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  border: 1px solid rgba(255, 255, 255, 0.062);
  display: flex;
  flex-direction: column;
  padding:10px;
  border-radius: 10px;
  width:30%;
  
  background-color:#28292e;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
}
@keyframes create-collection-animation {
  0%{
    transform: scale(0.8);
    opacity: 0;
  }
  
}
#create_collection_bar_note{
  margin-bottom: 10px;
  margin-top: 10px;
  padding:5px;
  background-color: rgba(0, 0, 0, 0.377);
   background:linear-gradient(220deg,rgba(0, 12, 37, 0.377),rgba(0, 0, 85, 0.13));;
  border-radius: 3px;
  display: flex;
}
#create_collection_bar_note img{
  height:40px;
  width: 40px;
 
 
  border-radius: 100px;;
}
#create_collection_bar label{
  font-family: Signika Negative;
  
  color: white;
}
#create_collection_bar textarea{
color:white;
    font-size: 20px;
    padding:10px;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    scrollbar-color: rgb(160, 160, 160) transparent;
    max-height: 200px;
    max-width:98%;
}
#create_collection_bar button{
  margin-top:10px;
  margin-left: 5px;
  cursor: pointer;
  padding:8px 16px 8px 16px;
  font-size:15px;
  font-family: Signika Negative;
  border-radius: 7px;
  transition: all 0.17s ease-in-out;
cursor: pointer;
}
#create_collection{
   background-color: rgba(79, 120, 255, 0.822);
 color: rgb(255, 255, 255);
 border: none;
 outline: 1px solid rgba(127, 157, 255, 0.822);
}
#cancel_collection{
   background-color: rgba(0, 0, 0, 0.048);
 color: rgb(255, 255, 255);
 border: none;
 outline: 1px solid rgba(255, 255, 255, 0.055);
}
#create_collection:hover{
background-color: rgba(67, 102, 218, 0.822);
}
#cancel_collection:hover{
   background-color:  rgba(255, 255, 255, 0.062);
}