.game {
    
    grid-template-columns: 3fr 4fr;
    display: grid;
    margin-left: 20px;
    min-height: 300px;
    height: 300px;
    max-width: 1000px;
    margin-top: 5px;
  background-color: rgba(255, 0, 0, 0.404);
    border-bottom: 1px solid rgb(85, 85, 85);
}
.game h2,h3,p{
    color:white;
}
.game h3,p{
    font-family: Signika Negative;
}
.game h2{
    font-family: Silkscreen;
}
.thumbnail_part{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.thumbnail_part_img{
    border-radius: 10px;
    overflow: hidden;
    height:250px;
    background-color: white;
    aspect-ratio:4/3;
}
.thumbnail_part_img img{
    height: 100%;
}
.thumbnail_part_footer{
    display: flex;
    align-items: end;
    height:40px;
    width: 334px;
    margin-top: -40px;
    background-color: rgba(0, 0, 0, 0.384);
}
.about_part{
    /* background-color: rgba(0, 255, 255, 0.452); */
}
.thumbnail_part_footer img{
height:80px;
margin-left: 10px;
width:80px;
border-radius: 10px;
margin-bottom: 5px;
}