.ranking_user{
    box-sizing: border-box;
    padding: 9px;
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.ranking_user p:hover{
    color: rgb(134, 134, 134);
}