#task_principal {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background:linear-gradient(22deg, rgb(29, 29, 29),rgb(39, 39, 39));
}

#task_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #task_content div{
  overflow-y:auto;
  scrollbar-color: rgb(56, 56, 56) transparent;
  padding: 40px;;
  min-height: 80%;
  max-height: 0;
   width: 50%;
   max-width: 800px;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  justify-content: start;
} */
/* #task_content div img{
  margin-left: 100px;
  width: 70%;
  max-width: 400px;
}
#task_content div h1{
  font-family: Not;
  color: rgba(255, 255, 255, 0.884);
  margin: 10px;
}
#task_content div p{
    font-size: 20px;
} */

#task_content_principal{
  overflow-y:auto;
  scrollbar-color: rgba(56, 56, 56, 0.219) transparent;

  min-height: 90%;
  max-height: 0;
   width: 55%;
   max-width: 800px;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 8fr 1fr;
}
#task_part_top button{
  cursor: pointer;
}
#task_part_top{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
   min-height: 100%;
   padding:40px;
   box-sizing:border-box;
  max-height: 0;
  overflow: auto;
}
#task_part_top h1{
  color: white;
  font-family: Signika Negative;
}
.task_part_bottom{
  box-sizing: border-box;
  border-top: 2px solid rgba(255, 255, 255, 0.062);
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 100%;
  padding:20px;
  box-sizing: border-box;
}
.task_part_bottom button{
  cursor: pointer;
}
#continue_button_1{
  font-size: 15px;
  width: 80%;
  height: 100%;
  color: rgba(224, 224, 224, 0.568);
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 5px;
  /* border: 2px solid rgba(172, 255, 47, 0.568); */
  border: none;
}
#continue_button_1:hover{
    color: rgba(166, 233, 58, 0.705);
  background-color: rgba(157, 255, 0, 0.199);
}
#report_button_1{
  background-color: rgba(128, 0, 0, 0);
  border-radius: 5px;
  border: 2px solid rgba(255, 0, 0, 0.24);
  height: 100%;
  aspect-ratio: 1/1;
}
#report_button_1 img{
  height:20px;
  opacity: 0.5;
}
#report_button_1:hover{

  background-color: rgba(124, 0, 0, 0.13);
  
}

/* aa */
#continue_button_2{
  font-size: 15px;
  padding-inline: 20px;
  height: 100%;
  color: rgba(224, 224, 224, 0.568);
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 5px;
  /* border: 2px solid rgba(172, 255, 47, 0.568); */
  border: none;
}
#continue_button_2:hover{
    color: rgba(166, 233, 58, 0.705);
  background-color: rgba(157, 255, 0, 0.199);
}
#report_button_2{
  background-color: rgba(128, 0, 0, 0);
  border-radius: 5px;
  border: 2px solid rgba(255, 0, 0, 0.24);
  height: 100%;
  aspect-ratio: 1/1;
}
#report_button_2 img{
  height:20px;
  opacity: 0.5;
}
#report_button_2:hover{

  background-color: rgba(124, 0, 0, 0.13);
  
}
#task_response_message{
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: rgb(255, 255, 255);
}
/* aa */

.wrong_context,.note_context,.right_context,.idea_context{
  display: flex;
   width:fit-content;
   padding: 8px;
   border-radius: 5px;
}
.idea_context{
  outline: 1px solid rgba(183, 0, 255, 0.171);
  border-top: 3px solid rgba(183, 0, 255, 0.267);
  background: linear-gradient(-10deg,rgba(183, 0, 255, 0.178),rgba(25, 0, 255, 0.192));
  

}
.idea_context::before{
  content: "🧠";
  

}
.wrong_context{
  outline: 1px solid rgba(235, 0, 0, 0.342);
  border-top: 3px solid rgba(235, 0, 0, 0.274);
  background-color: rgba(255, 0, 0, 0.041);
  

}
.right_context{

  background-color: rgba(0, 34, 13, 0.116);
  outline: 1px solid rgb(22, 87, 49);
  border-top: 3px solid rgb(21, 92, 50);

}
.right_context::before{
  content: "✅";
}
.note_context::before{
  content: "📒";
}
.wrong_context::before{
  content: "❌";
}
.note_context{
  outline: 1px solid rgba(128, 115, 0, 0.322);
  border-top: 3px solid rgba(128, 115, 0, 0.808);;
  background-color: rgba(34, 26, 0, 0.116);
}
.important_context{
  font-weight: 800;
 

}
