#task_principal {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background:linear-gradient(22deg, rgb(29, 29, 29),rgb(39, 39, 39));
}

#task_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #task_content div{
  overflow-y:auto;
  scrollbar-color: rgb(56, 56, 56) transparent;
  padding: 40px;;
  min-height: 80%;
  max-height: 0;
   width: 50%;
   max-width: 800px;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  justify-content: start;
} */
/* #task_content div img{
  margin-left: 100px;
  width: 70%;
  max-width: 400px;
}
#task_content div h1{
  font-family: Not;
  color: rgba(255, 255, 255, 0.884);
  margin: 10px;
}
#task_content div p{
    font-size: 20px;
} */

#task_content_principal{
  overflow-y:auto;
  scrollbar-color: rgba(56, 56, 56, 0.219) transparent;

  min-height: 90%;
  max-height: 0;
   width: 55%;
   max-width: 800px;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 8fr 1fr;
}
#task_content_finished{
  padding: 10px;
  box-sizing: border-box;
  overflow-y:auto;
  scrollbar-color: rgba(56, 56, 56, 0.219) transparent;
  height: min-content;
   width: 55%;
   max-width: 800px;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(255, 0, 170, 0.075);
  animation-name: task_content;
  animation-delay: 0s;
  animation-duration: 2.7s;
  animation-iteration-count: 1;
  z-index: 10;
}
#task_statistic{
  margin-top: 10px;
  display: flex;
  color: rgb(199, 199, 199);
  column-gap: 5px;
  font-family: Signika Negative;
}
#task_statistic h2{
  font-family: Signika Negative;

}
#task_statistic div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: rgb(31, 32, 31);
}
@keyframes task_content{
  0%{
    
    opacity: 0;
    
  }
  50%{
  scale: 0.1;
  opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
#task_finished_buttons{
  margin-top: 10px;
  width: 100%;
  display: flex;
  column-gap: 10px;
  
}
#task_finished_buttons button{
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  height: 40px;
 color: rgba(224, 224, 224, 0.568);
  background-color: rgba(255, 255, 255, 0.062);
  border: none;
}
#task_finished_buttons button:hover{
  background-color: rgba(123, 255, 0, 0.212);
}
#task_finished_buttons button img{
  height: 100%;
  opacity: 0.5;
}
#finish_lesson{
  flex-grow: 1;
}
#task_content_finished img{
  width: 100%;

  border-radius: 20px 20px 0px 0px;
  box-sizing: border-box;
}
#task_part_top button{
  cursor: pointer;
}
#finished_lesson_message{
  color: white;
  font-size: 40px;
  font-family: Signika Negative;
 position: absolute;
  animation-name: message_lesson;
  animation-duration: 2.5s;
  animation-delay: 0;
  opacity: 0;
  animation-iteration-count: 1;
  transition: all 1s ease-in-out;
  display: flex;
}
#confetti{
  position: absolute;
  width: 60vw;
  display: none;

}
#confetti{
  opacity: 0.5;
  transition: all 1s ease-in-out;
  animation-duration: 2.5s;
  animation-delay: 0;
  animation-name: confetti_lesson;
  animation-iteration-count: 1;
  opacity: 0;
  max-height: 80vh;
}
@keyframes confetti_lesson {
  0%{
width: 0vw;
  opacity: 0.6;
  }
  50%{
     opacity: 0.6;
    width: 66vw;

  }
  100%{
     opacity: 0.6;
    width: 66vw;
    
  }
}
@keyframes message_lesson {
  0%{
     opacity: 1;
  }
  50%{
    font-size: 50px;
    color: white;
     opacity: 1;
  }
 
  80%{
     opacity: 1;
    color: white;
    font-size: 20px;
     color: #14141400;
  }
  80%{
    opacity: 0;
    color: #14141400;
    
  }
}
#task_part_top{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
   min-height: 100%;
   padding:40px;
   box-sizing:border-box;
  max-height: 0;
  overflow: auto;
}
#task_part_top h1{
  color: white;
  font-family: Signika Negative;
}
.task_part_bottom{
  box-sizing: border-box;
  border-top: 2px solid rgba(255, 255, 255, 0.062);
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 100%;
  padding:20px;
  box-sizing: border-box;
}
.task_part_bottom button{
  cursor: pointer;
}
#continue_button_1{
  font-size: 15px;
  width: 80%;
  height: 100%;
  color: rgba(224, 224, 224, 0.568);
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 5px;
  /* border: 2px solid rgba(172, 255, 47, 0.568); */
  border: none;
}
#continue_button_1:hover{
    color: rgba(166, 233, 58, 0.705);
  background-color: rgba(157, 255, 0, 0.199);
}
#report_button_1{
  background-color: rgba(128, 0, 0, 0);
  border-radius: 5px;
  border: 2px solid rgba(255, 0, 0, 0.24);
  height: 100%;
  padding: 5px;
  aspect-ratio: 1/1;
}
#report_button_1 img{
  height:20px;
  opacity: 0.5;
}
#report_button_1:hover{

  background-color: rgba(124, 0, 0, 0.13);
  
}

/* aa */
#continue_button_2{
  font-size: 15px;
  padding-inline: 20px;
  height: 100%;
  color: rgba(224, 224, 224, 0.568);
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 5px;
  /* border: 2px solid rgba(172, 255, 47, 0.568); */
  border: none;
}
#continue_button_2:hover{
    color: rgba(166, 233, 58, 0.705);
  background-color: rgba(157, 255, 0, 0.199);
}
#report_button_2{
  background-color: rgba(128, 0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  border: 2px solid rgba(255, 0, 0, 0.24);
  height: 100%;
  aspect-ratio: 1/1;
}
#report_button_2 img{
  height:20px;
  opacity: 0.5;
}
#report_button_2:hover{

  background-color: rgba(124, 0, 0, 0.13);
  
}
#task_response_message{
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: rgb(255, 255, 255);
}
/* aa */

.wrong_context,.note_context,.right_context,.idea_context,.link_context{
  display: flex;
   width:fit-content;
   padding: 8px;
   border-radius: 5px;
}
.idea_context{
  outline: 1px solid rgba(183, 0, 255, 0.171);
  border-top: 3px solid rgba(183, 0, 255, 0.267);
  background: linear-gradient(-10deg,rgba(183, 0, 255, 0.178),rgba(25, 0, 255, 0.192));
  

}

.idea_context::before{
  content: "🧠";
  

}
.wrong_context{
  outline: 1px solid rgba(235, 0, 0, 0.342);
  border-top: 3px solid rgba(235, 0, 0, 0.274);
  background-color: rgba(255, 0, 0, 0.041);
  

}
.right_context{

  background-color: rgba(0, 34, 13, 0.116);
  outline: 1px solid rgb(22, 87, 49);
  border-top: 3px solid rgb(21, 92, 50);

}
.text2{
  margin-top: 10px
}
.right_context::before{
  content: "✅";
}
.note_context::before{
  content: "📒";
}
.wrong_context::before{
  content: "❌";
}
.note_context{
  outline: 1px solid rgba(128, 115, 0, 0.322);
  border-top: 3px solid rgba(128, 115, 0, 0.808);;
  background-color: rgba(34, 26, 0, 0.116);
}
.important_context{
  font-weight: 800;
 

}

.link_context{
  color: rgb(40, 116, 202);
  cursor: pointer;
  font-family:Signika Negative;
}
.link_context:hover{
  color: rgb(72, 137, 211);
}
#to_correct_title,#common_code_title,#to_correct_response_title{
  align-items: end;
display: flex;

width: 100%;
justify-content:space-between ;
}
#to_correct_title h2,#common_code_title h2{
  margin-top: 15px;
  color: white;
  font-family: Leelawadee;
  padding:5px;
   border-radius: 10px 10px 0px 0px;
;
}
#to_correct_title h2{
  border-left: 5px solid red;
  background: linear-gradient(180deg,transparent,rgb(255, 0, 0, 0.13));
}
#common_code_title h2{
    border-left: 5px solid rgba(0, 225, 255, 0.863);
  background: linear-gradient(180deg,transparent,rgba(0, 238, 255, 0.13));
}
#to_correct_principal,#common_code_principal{
  max-height:  200px;
   min-height:  200px;
  scrollbar-width:thin;
  overflow: auto;
  
  width: 100%;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 0px 10px 10px 10px;
}
#to_correct_principal{
  font-size: 15px;
scrollbar-color: rgba(255, 0, 0, 0.329) rgba(0, 0, 0, 0);
  border-left: 5px solid red;
  background-color: rgba(255, 0, 0, 0.13);
}
#common_code_principal{
  font-size: 15px;
scrollbar-color: rgba(0, 238, 255, 0.329) rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 225, 255, 0.863);
  background-color: rgba(0, 238, 255, 0.13);

}
#copy_wrong_code,#copy_common_code,#to_correct_response_title button,#to_complete_title button{
  background:transparent;
  height: 40px;
  width: 38px;
  box-sizing: border-box;
  border: none;
  padding: 7px;
  border-radius: 5px 5px 0px 0px;
}
#copy_wrong_code img ,#copy_common_code img,#to_correct_response_title button img,#to_complete_title button img{
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
#copy_wrong_code img:active ,#copy_common_code img:active,#to_correct_response_title button img:active,#to_complete_title button img:active{
   filter: invert(0.8);
}
#copy_wrong_code img:hover, #copy_common_code img:hover,#to_correct_response_title button img:hover,#to_complete_title button img:hover{
    opacity: 1;
}
#to_correct_response{

  border-radius: 10px;
  border-left: 5px solid rgba(9, 255, 140, 0.699);
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
}
#to_correct_response h2{
  margin-left: 10px;
  color: white;
  font-family: Leelawadee;
}
#to_correct_response textarea{
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height:300px;
  background-color: rgb(12, 12, 12);
  color: white;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 0px 10px 10px 0px;
  transition: all 0.5s ease-in-out;
}
#to_correct_response textarea:focus{
outline: 2px solid rgba(9, 255, 140, 0.151);
}
#to_complete{
  border-radius: 10px 10px 10px 10px;
  border-left: 5px solid rgb(82, 82, 82);
  background-color: rgb(15, 15, 15);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
#to_complete pre{
color: rgb(194, 194, 194);
  font-size: 15px;
}
#to_complete textarea{
  max-height: 500px;
  margin: 0;
  color: rgb(214, 214, 214);
  min-width: 100%;
  max-width: 100%;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  min-height: 200px;
  outline: 1px solid rgb(97, 97, 97);
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
#to_complete textarea:focus{
  outline: 1px solid rgb(139, 139, 139);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.089);
}
#to_complete_title{
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
}
#report_task_background{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}
#report_task_bar{
  width: 30%;
  max-width: 500px;
    border-radius: 10px;
  padding: 15px;
   background-color:#2F2F2F;
}
#report_task_bar h1{
color: rgb(241, 241, 241);
  font-family: Signika Negative;
  }
  #report_task_bar textarea{
    width: 100%;
    padding: 10px;
    background-color: #141414;
    border: none;
   border-radius: 5px;
    transition: all 0.5s ease-in-out;
    scrollbar-color: rgb(160, 160, 160) transparent;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    max-height:200px;
    height: 100px;
    color: white;
    font-size: 20px;
  }
    #report_task_bar button{
  margin-left: 5px;
  margin-top: 10px;
  padding:7px;
  border-radius: 5px;
  border: 1px solid;
  background-color: transparent;
  font-family: Signika Negative;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
    }

    #create_task_report{
  color: rgb(189, 0, 0);
}
#cancel_task_report{
 color: rgb(223, 223, 223);
}
#create_task_report:hover{
 background-color:rgb(209, 0, 0);
 color: rgb(26, 26, 26);
}
#cancel_task_report:hover{
  background-color:rgb(223, 223, 223); 
 color: rgb(26, 26, 26);
}
#to_complete_title_correct_response_list{
  max-width: 80%;
  overflow-x: scroll;
  scrollbar-width:thin;
  scrollbar-color: rgb(95, 95, 95) rgba(255, 0, 0, 0);
  flex-grow: 1;
  background-color: rgb(10, 10, 10);
  padding:2px;
  box-sizing: border-box;
  display: flex;
  column-gap: 5px;
  border-radius: 5px;
}
#to_complete_title_correct_response_list button{
 width: min-content;
 background-color: rgba(126, 121, 121, 0.356);
  border-radius: 3px;
  color: rgb(255, 255, 255);
}