.group_task_button_unselected{
      border: 1px solid rgb(75, 75, 75);
  background-color: rgb(43, 43, 43);
}
.group_task_button_unselected,.group_task_button_selected{
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 600px;
  padding: 6px;
  box-sizing: border-box;
  font-size: 17px;
  color:white;
  border-radius: 5px;
}
.group_task_button_selected{
  border: 1px solid rgb(25, 105, 179);
  background-color: rgba(25, 105, 179, 0.589);
}
.group_task_button_selected:hover{
  background-color: rgba(42, 129, 230, 0.589);
}
.group_task_button_unselected:hover{
 
  background-color: rgb(63, 63, 63);
}